<template>
  <v-chart class="chart" :option="chartData" autoresize />
</template>

<script>
import { use } from 'echarts/core'
import { CanvasRenderer } from 'echarts/renderers'
import { BarChart } from 'echarts/charts'
import {
  TitleComponent,
  TooltipComponent,
  LegendComponent,
  GridComponent,
} from 'echarts/components'
import VChart from 'vue-echarts'
import { defineComponent } from 'vue'

use([
  CanvasRenderer,
  BarChart,
  TitleComponent,
  TooltipComponent,
  LegendComponent,
  GridComponent,
])

export default defineComponent({
  components: {
    VChart,
  },
  props: ['chartData'],
})
</script>

<style scoped>
.chart {
  height: 50vh;
}
</style>
