<template>
  <v-menu
    v-if="day.dayDestination"
    origin="center center"
    transition="scale-transition"
    bottom
  >
    <template v-slot:activator="{ on }">
      <v-icon v-on="on">apartment</v-icon>
    </template>
    <v-list>
      <v-subheader>{{ $t('accommodation.look_for_accommodation') }} {{ day.dayDestination }}</v-subheader>
      <v-list-item @click="goToBookingAccommodationUrl()">
        <v-list-item-title>Booking</v-list-item-title>
      </v-list-item>
      <v-list-item @click="goToAirbnbAccommodationUrl()">
        <v-list-item-title>Airbnb</v-list-item-title>
      </v-list-item>
      <v-list-item @click="goToGoogleMapsAccommodationUrl('camping')">
        <v-list-item-title>{{ $t('accommodation.camping_on_google_maps') }}</v-list-item-title>
      </v-list-item>
      <v-list-item v-if="day.destinationPosition" @click="goToPark4Night()">
        <v-list-item-title>Park4Night</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
  export default {
    props: ['day', 'numberOfParticipants'],
    methods: {
      goToBookingAccommodationUrl() {
        const checkinYear = this.$moment(this.day.date).format('YYYY')
        const checkinDay = this.$moment(this.day.date).format('DD')
        const checkinMonth = this.$moment(this.day.date).format('MM')
        const checkoutYear = this.$moment(this.day.date).add(1, 'day').format('YYYY')
        const checkoutDay = this.$moment(this.day.date).add(1, 'day').format('DD')
        const checkoutMonth = this.$moment(this.day.date).add(1, 'day').format('MM')

        const bookingUrl = 'https://booking.com/searchresults.html?ss=' + this.day.dayDestination.replace(' ', '%20') + '&aid=844917&checkin_monthday=' + checkinDay + '&checkin_month=' + checkinMonth + '&checkin_year=' + checkinYear + '&checkout_monthday=' + checkoutDay + '&checkout_month=' + checkoutMonth + '&checkout_year=' + checkoutYear + '&no_rooms=1&group_adults=' + this.numberOfParticipants + '&nflt=pri%3D1%3B&order=price'
        window.open(bookingUrl, "_blank");
      },
      goToAirbnbAccommodationUrl() {
        const checkinDay = this.$moment(this.day.date).format('YYYY-MM-DD')
        const checkoutDay = this.$moment(this.day.date).add(1, 'day').format('YYYY-MM-DD')
        const airbnbUrl = 'https://airbnb.pl/s/' + this.day.dayDestination.replace(' ', '%20') + '/homes?checkin=' + checkinDay + '&checkout=' + checkoutDay + '&adults=' + this.numberOfParticipants + '&guests=' + this.numberOfParticipants
        window.open(airbnbUrl, "_blank");
      },
      goToGoogleMapsAccommodationUrl( phrase ) {
        const googleMapsUrl = `https://www.google.com/maps/search/?api=1&query=${phrase} ${this.day.dayDestination}`
        window.open(googleMapsUrl, "_blank");
      },
      goToPark4Night() {
        const park4NightUrl = `https://park4night.com/carte_lieux?lat=${this.day.destinationPosition.lat}&lng=${this.day.destinationPosition.lng}&zoom=12`
        window.open(park4NightUrl, "_blank");
      }
    }
  }
</script>
