<template>
  <v-menu
      v-if="day.dayDestination"
      origin="center center"
      transition="scale-transition"
      bottom
  >
    <template v-slot:activator="{ on }">
      <v-icon v-on="on">mdi-weather-partly-cloudy</v-icon>
    </template>
    <v-list>
      <v-subheader>{{ $t('weather.check_weather') }} {{ day.dayDestination }}</v-subheader>
      <v-list-item @click="weatherInGoogle()">
        <v-list-item-title>Google</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  props: ['day'],
  methods: {
    weatherInGoogle() {
      const link = `https://www.google.com/search?q=Weather+${this.day.dayDestination}`
      window.open(link, "_blank");
    },
  }
}
</script>
