<template>
  <v-menu
    v-if="day.dayStart && day.dayDestination"
    origin="center center"
    transition="scale-transition"
    bottom
  >
    <template v-slot:activator="{ on }">
      <v-icon v-on="on">explore</v-icon>
    </template>
    <v-list>
      <v-subheader>{{ $t('trip_table.see_route') }} {{ day.dayStart }} - {{ day.dayDestination }}</v-subheader>
      <v-list-item @click="openRouteInGoogleMaps()">
        <v-list-item-title>Google Maps</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  props: ['day'],
  methods: {
    openRouteInGoogleMaps() {
      const route = `https://www.google.com/maps/dir/?api=1&origin=${this.day.dayStart}&waypoints=${this.showVia(this.day.dayVia)}&destination=${this.day.dayDestination}&travelmode=driving`
      window.open(route, "_blank");
    },
    showVia(dayVia) {
      if (typeof dayVia !== 'undefined') {
        dayVia = dayVia.replace(/\//g, '|')
        dayVia = dayVia.replace(' ', '%20')
      } else {
        dayVia = ''
      }
      return dayVia
    },
  }
}
</script>
