<template>
  <v-layout wrap v-if="this.currentMyTrips.length" >
    <v-flex xs12 md6 class="mb-10">
      <div v-for="(trip) in currentMyTrips" class="mb-5">
        <h2 class="motivation_quote mb-4">{{ trip.name }}</h2>
          <vue-countdown-timer
              :start-time="trip.startDate"
              :interval="1000"
              :start-label="$t('viewing_trip.until_start')"
              label-position="begin"
              :end-text="'Event ended!'"
              :day-txt="$t('days')"
              :hour-txt="$t('hours')"
              :minutes-txt="$t('minutes')"
              :seconds-txt="$t('seconds')">
            <template slot="countdown" slot-scope="scope">
              <span class="pre-title">
                <span>{{ scope.props.days }}</span>
                <small><i>{{ scope.props.dayTxt }}</i></small>
                <span>{{ scope.props.hours }}</span>
                <small><i>{{ scope.props.hourTxt }}</i></small>
             </span>
            </template>
          </vue-countdown-timer>
        <div class="mt-3">
          <v-btn x-small class="mr-2" @click="$editTrip(trip.id)">{{ $t('cta.edit') }}</v-btn>
          <v-btn x-small @click="$viewTrip(trip.id)">{{ $t('cta.view') }}</v-btn>
        </div>
      </div>
    </v-flex>
    <v-flex xs12 md6 v-if="this.currentObservedTrips.length" class="mb-10">
      <p><span class="pre-title">{{ $t('links.observed_trips') }}:</span></p>
      <div v-for="(trip) in currentObservedTrips" class="mb-5">
        <h2 class="motivation_quote mb-4">{{ trip.name }}</h2>
        <v-btn x-small class="primary" @click="$viewTrip(trip.id)">{{ $t('cta.view') }}</v-btn>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>

import {tripsCollection} from "../plugins/fireinit";

export default {
  data() {
    return {
      uId: '',
      loadingMyTrips: false,
      loadingObservedTrips: false,
      currentMyTrips: [],
      currentObservedTrips: [],
      today: new Date().toISOString().substr(0, 10)
    }
  },
  created() {
    this.uId = this.$store.state.user.uid
    let vm = this
    tripsCollection.where("userId", "==", this.uId)
        .orderBy("endDate", "desc")
        .onSnapshot(function (querySnapshot) {
          vm.loadingMyTrips = true
          vm.currentMyTrips = []
          querySnapshot.forEach(doc => {
            if (vm.$moment(vm.today).isBetween(vm.$moment(doc.data().startDate).subtract(90, "d"), doc.data().endDate, undefined, '[]')) {
              vm.currentMyTrips.push({
                name: doc.data().name,
                tripLength: doc.data().tripLength,
                startDate: doc.data().startDate,
                endDate: doc.data().endDate,
                id: doc.id
              })
            }
          })
          vm.loadingMyTrips = false
        })

    tripsCollection.where("followersIDs", "array-contains", this.uId)
        .orderBy("endDate", "desc")
        .onSnapshot(function (querySnapshot) {
          vm.loadingObservedTrips = true
          vm.currentObservedTrips = []
          querySnapshot.forEach(doc => {
            if (vm.$moment(vm.today).isBetween(doc.data().startDate, doc.data().endDate, undefined, '[]')) {
              vm.currentObservedTrips.push({
                name: doc.data().name,
                tripLength: doc.data().tripLength,
                startDate: doc.data().startDate,
                endDate: doc.data().endDate,
                id: doc.id
              })
            }
          })
          vm.loadingObservedTrips = false
        })

  },

}
</script>

<style scoped lang="scss">
.pre-title {
  display          : inline-block;
  font-weight      : 400;
  background-color : #ff9f00;
  color            : black;
  font-size        : .8rem;
  padding          : 0 .35rem;
  border-radius    : .3rem;
  border           : 1px solid;
}
</style>
