<template>
  <v-layout class="pos-relative" column>
    <h4 id="travel-table" class="my-3 mt-4">📅 {{ $t("viewing_trip.day_by_day") }}</h4>
    <v-btn icon class="scroll-info-button d-flex d-xl-none"
           @click="$notifier.showMessage({content: $t('messages.scroll_table_left_right'), color: 'info'})">
      <v-icon color="grey lighten-1">
        info
      </v-icon>
    </v-btn>
  </v-layout>
</template>

<script>
export default {

}
</script>

<style lang="scss">

.scroll-info-button {
  position : absolute;
  right    : 0;
  bottom   : .35rem;
}

</style>
