<template>
  <v-dialog
    v-model="dialog"
    width="500"
  >
    <v-card>
      <v-card-title
        class="headline grey lighten-2"
        primary-title
      >
        <h5>{{ dialogTitle }}</h5>
        <v-spacer></v-spacer>
        <span class="body-2">{{ fieldData.date }}</span>
      </v-card-title>

      <v-card-text>
        <v-layout wrap align-center>
          <v-flex xs11>
            <v-textarea
                v-if="fieldName === 'dayNotes'"
                rows="7"
                v-model="fieldData[fieldName]"
            />
            <v-text-field
              v-else
              flex
              ref="inputField"
              @keyup.native.enter="saveField()"
              :hint="fieldHint"
              v-model="fieldData[fieldName]">
            </v-text-field>

          </v-flex>
          <v-flex xs1 text-right>
            <v-icon @click="fieldData[fieldName] = '';">clear</v-icon>
          </v-flex>
          <v-flex xs12 mt-6 v-if="this.fieldName === 'dayDestination' && this.fieldData.dayStart !== ''">
            <v-btn small
                   class="mx-0"
                   @click="pickDayAndSave()">
              {{ this.fieldData.dayStart }}
            </v-btn>
          </v-flex>
        </v-layout>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="dialog = false"
               small
               class="mr-2">
          {{ $t('cta.cancel') }}
        </v-btn>

        <v-btn
            color="primary"
            small
            @click="saveField()"
        >
          {{ $t('cta.save') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

  import {tripDaysCollection} from "@/plugins/fireinit";

  export default {
    data () {
      return {
        dialog: false,
        dialogTitle: '',
        fieldName: '',
        fieldData: '',
        fieldHint: '',
      }
    },

    created () {
      this.$store.subscribe((mutation, state) => {
        if (mutation.type === 'dialog/showTextDialog') {
          this.dialogTitle = state.dialog.title
          this.fieldName = state.dialog.fieldName
          this.fieldData = state.dialog.fieldData
          this.fieldHint = state.dialog.fieldHint
          this.dialog = true

          let vm = this
          setTimeout(() => {
            vm.$refs.inputField.focus();
          }, 400)
        }
      })
    },
    methods: {
      pickDayAndSave() {
        this.fieldData[this.fieldName] = this.fieldData.dayStart
        this.saveField()
      },
      saveField() {
        let vm = this
        if (vm.fieldData[vm.fieldName] === undefined) return false

        tripDaysCollection.doc(vm.fieldData.docId).update({
          [vm.fieldName]: vm.fieldData[vm.fieldName]
        }).then(function() {
          vm.$editor.changeTextDialog( { actionName : vm.fieldName} )
          vm.dialog = false
        })
      },
    }
  }
</script>
