<template>
  <v-btn small class="mt-3"
         color="secondary"
         v-if="uId !== ''"
         v-on="is_followed ? { click: unFollowTheTrip } : { click: followTheTrip }"
  >
    <span v-if="is_followed">
      {{ $t('cta.following') }}
      <v-icon small>mdi-check</v-icon>
    </span>
    <span v-else>{{ $t('cta.follow') }}</span>
  </v-btn>
</template>

<script>
import {tripsCollection} from "../plugins/fireinit";
import * as firebase from 'firebase/app'

export default {
  props: ['tripId'],
  data() {
    return {
      uId: '',
      tripRef: {},
      is_followed: false
    }
  },
  created() {
    this.$store.state.user ? this.uId = this.$store.state.user.uid : this.uId = ''

    this.tripRef = tripsCollection.doc(this.tripId);
    let vm = this

    this.tripRef.onSnapshot((doc) => {
      vm.is_followed = doc.data().followersIDs.includes(this.uId)
    });
  },
  methods: {
    followTheTrip() {
      this.tripRef.update({
        followersIDs: firebase.firestore.FieldValue.arrayUnion(this.uId)
      });
      this.$notifier.showMessage({content: this.$t('messages.followed_journeys_added'), color: 'info'})
    },
    unFollowTheTrip() {
      this.tripRef.update({
        followersIDs: firebase.firestore.FieldValue.arrayRemove(this.uId)
      });
      this.$notifier.showMessage({content: this.$t('messages.followed_journeys_removed'), color: 'info'})
    }
  },
}
</script>

<style lang="scss">

</style>
