<template></template>
<script>

  export default {
    props: {
      google: {
        type: Object,
        required: true
      },
      map: {
        type: Object,
        required: true
      },
      marker: {
        type: Object,
        required: true
      },
      index: {
        type: Number,
        required: true
      },
      googleInfoWindow: {
        type: Object,
      }
    },

    mounted() {
      
    }
  }

</script>

<style lang="scss">

  .gm-style  {
    .gm-style-iw-d {
      display: flex;
    }
  }

  .map-marker {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width : 960px) {
      flex-direction: row-reverse;
      transform: scale(1);
    }

    &__p {
      margin-top: 13px;
      margin-bottom: 0;
      font-size: 11px;

      @media (min-width : 960px) {
        font-size: 14px;
      }
    }

    &__info {
      flex: 1;
    }

    &__img {
      background-size: cover;
      background-position: 50%;
      border-radius: 5px;
      width: 100%;
      padding-top: 80%;
      margin-bottom: 5px;
      max-width: 100% !important;

      @media (min-width : 960px) {
        margin-left: 10px;
        margin-bottom: 0;
        width: 180px;
        height: 180px;
        padding-top: 0;
      }
    }
  }

</style>
