<template>
  <div>
    <div
      class="google-map"
      ref="googleMap"
      :class="{ loading: !mapBoundsUpdated }"
    ></div>
    <template v-if="Boolean(this.google) && Boolean(this.map)">
      <slot
        :google="google"
        :map="map"
        :gMapInfoWindow="googleMapsInfoWindow"
      />
    </template>
  </div>
</template>

<script>
export default {
  props: {
    mapConfig: Object,
    mapMarkers: Array,
    apiKey: String,
  },
  data() {
    return {
      google: null,
      map: null,
      googleMapsInfoWindow: null,
      navMarkerIndex: 0,
      markersArray: [],
      mapBoundsUpdated: false,
    }
  },
  watch: {
    mapMarkers: function (markers) {
      if (!this.map || this.mapBoundsUpdated) return

      // Extending map boundaries and drawing lines between points
      let simpleRoadPathCoordinates = []
      let bounds = new google.maps.LatLngBounds()

      markers.forEach((marker, index) => {
        bounds.extend(marker.position)
        this.createMarker(marker, index)
        if (marker.overviewPolyline) {
          const decodedPath = google.maps.geometry.encoding.decodePath(
            marker.overviewPolyline
          )
          decodedPath?.forEach((pointOnMap) => {
            simpleRoadPathCoordinates.push(pointOnMap)
          })
        } else {
          simpleRoadPathCoordinates.push(marker.position)
        }
      })

      this.map.fitBounds(bounds)
      this.mapBoundsUpdated = true

      const simpleRoadPath = new google.maps.Polyline({
        path: simpleRoadPathCoordinates,
        geodesic: true,
        strokeColor: '#1976d2',
        strokeOpacity: 1,
        strokeWeight: 2,
      })
      simpleRoadPath.setMap(this.map)
    },
  },
  async mounted() {
    this.google = window.google
    this.initializeMap()
  },

  methods: {
    async initializeMap() {
      const mapContainer = this.$refs.googleMap
      const { Map } = await google.maps.importLibrary('maps')
      this.map = new Map(mapContainer, this.mapConfig)

      const centerControlDiv = document.createElement('div')

      const goToNextDay = this.createNextButton()
      centerControlDiv.appendChild(goToNextDay)

      const goToPrevDay = this.createPrevButton()
      centerControlDiv.appendChild(goToPrevDay)

      this.map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(
        centerControlDiv
      )
      this.googleMapsInfoWindow = new google.maps.InfoWindow({
        pixelOffset: new google.maps.Size(0, -10),
      })
    },
    createNextButton() {
      const controlButton = document.createElement('button')
      controlButton.classList.add('google-map-button')
      controlButton.type = 'button'
      controlButton.appendChild(this.createIcon('right'))
      controlButton.addEventListener('click', () => {
        if (this.navMarkerIndex < this.markersArray.length - 1) {
          this.navMarkerIndex++
          google.maps.event.trigger(
            this.markersArray[this.navMarkerIndex],
            'click'
          )
        } else {
          google.maps.event.trigger(this.markersArray[0], 'click')
          this.navMarkerIndex = 0
        }
      })
      return controlButton
    },
    createIcon(direction) {
      const icon = document.createElement('i')
      icon.className = 'v-icon notranslate mdi mdi-arrow-' + direction + '-bold'
      return icon
    },
    createPrevButton() {
      const controlButton = document.createElement('button')
      controlButton.classList.add('google-map-button')
      controlButton.type = 'button'
      controlButton.appendChild(this.createIcon('left'))
      controlButton.addEventListener('click', () => {
        if (this.navMarkerIndex > 0) {
          this.navMarkerIndex--
          google.maps.event.trigger(
            this.markersArray[this.navMarkerIndex],
            'click'
          )
        } else {
          google.maps.event.trigger(
            this.markersArray[this.markersArray.length - 1],
            'click'
          )
          this.navMarkerIndex = this.markersArray.length - 1
        }
      })
      return controlButton
    },
    createImg(img) {
      return img
        ? '<div style="background-image: url(' +
            img +
            ');" class="map-marker__img grey lighten-2"></div>'
        : ''
    },
    createMarkerContent(dayItem, index) {
      const content = document.createElement('div')
      content.classList.add('property')
      content.innerHTML = `
        <div class="rtp-marker-icon">
          ${index}
        </div>
      `
      return content
    },
    async createMarker(dayItem, i) {
      const index = i + 1
      const notes =
        typeof dayItem.notes === 'undefined'
          ? ''
          : '<small>' +
            this.$t('trip_table.daily_notes') +
            ':</small><p class="map-marker__p mt-2">' +
            dayItem.notes +
            '</p>'

      const contentString =
        '<div class="map-marker">' +
        this.createImg(dayItem.bestPhotoUrlThumb) +
        '<div class="map-marker__info">' +
        '<h3>' +
        dayItem.location +
        '</h3>' +
        '<small class="d-block mt-2">' +
        this.$t('trip_table.arrival_on') +
        ': <b>' +
        dayItem.date +
        '</b></small>' +
        '<small class="d-block mb-2">' +
        this.$t('trip_table.stop_nr') +
        ': <b>' +
        index +
        '</b></small>' +
        notes +
        '</div>' +
        '</div>'

      const { AdvancedMarkerElement } = await google.maps.importLibrary(
        'marker'
      )

      const collisionBehavior =
        google.maps.CollisionBehavior.OPTIONAL_AND_HIDES_LOWER_PRIORITY

      const advancedMarker = new AdvancedMarkerElement({
        position: dayItem.position,
        map: this.map,
        content: this.createMarkerContent(dayItem, index),
        collisionBehavior: collisionBehavior,
        title: `${this.$t('trip_table.stop_nr')}: ${index}`,
      })

      advancedMarker.addListener('click', () => {
        this.googleMapsInfoWindow.setContent(contentString)
        this.googleMapsInfoWindow.open(this.map, advancedMarker)
        this.navMarkerIndex = index - 1
      })

      this.markersArray.push(advancedMarker)
    },
  },
}
</script>

<style lang="scss">
.rtp-marker-icon {
  background-color: #1976d2;
  color: white;
  font-size: 10px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in;

  &:hover {
    background-color: #000;
    transform: scale(1.2);
  }
}

.google-map {
  width: 100%;
  min-height: 55vh;

  &.loading {
    &::after {
      content: 'Loading...';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      background-color: #e0e0e0cc;
      align-items: center;
      justify-content: center;
    }
  }
}

.google-map-button {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  color: #666;
  cursor: pointer;
  margin: 5px 10px;
  padding: 0 10px;
  text-align: center;
  height: 40px;
  width: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: #333;
  }
}
</style>
