<template>
  <div class="my-3 d-flex flex-column">
    <p class="mb-1 text-subtitle-2 text-md-subtitle-1">
      <span v-html="$t('sign_up_in_with_the_following_buttons')"></span></p>
      <div class="d-flex align-center flex-column flex-md-row">
        <button class="auth-btn auth-btn--google ma-2"
                @click="googleSignUp">{{ $t('sign_in_with_google') }}</button>
        <button class="auth-btn auth-btn--fb ma-2"
                @click="fbSignUp">{{ $t('login_with_fb') }}</button>
      </div>
  </div>
</template>

<script>
  export default {
    props: ['className'],
    methods: {
      googleSignUp () {
        this.$store.dispatch('signInWithGoogle').then(() => {
          console.log('Signing in with Google');
        }).catch((e) => {
          console.log(e.message);
        })
      },
      fbSignUp () {
        this.$store.dispatch('signInWithFB').then(() => {
          console.log('Signing in with FB');
        }).catch((e) => {
          console.log(e.message);
        })
      }
    }
  }
</script>

<style scoped lang="scss">

.auth-btn {
  font-weight: bold;
  padding: .3rem .7rem;
  border-radius: .15rem;
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  background-color: #fff;
  font-size: 13px;

  &::before {
    content: "";
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-size: 100%;
    margin-right: 0.5rem;
    position: relative;
    top: -1px;
  }

  &:focus {
    outline: 3px solid #4285f440;
  }

  &:active {
    border-color: #3367d6;
  }

  &--google {
    color: #757575;
    border-color: #4285f4;

    &::before {
      background-image: url("/images/third-parties/google/logo--google.svg");
    }
  }

  &--fb {
    background-color: #1877F2;
    color: #fff;

    &::before {
      background-image: url("/images/third-parties/fb/logo--fb.png");
    }
  }
}

html {
  &[lang=pl] .auth-btn {
    min-width: 208px;
  }

  &[lang=en] .auth-btn {
    min-width: 170px;
  }
}

</style>
