<template>
  <div class="rtp-logo">
    <img
      src="/rtp-logo.svg"
      alt="Road-Trip-Planner - Logo"
      class="mb-12">
  </div>
</template>

<style>
.rtp-logo {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 128px;
  width: 128px;
}

.rtp-logo img {
  width: 100%;
}
</style>
