<template>
  <v-layout column>
    <div class="d-block d-md-flex justify-space-between">
      <div class="mb-3 d-flex align-center">
        <v-btn
          small
          icon
          elevation="2"
          class="mr-3"
          :to="localePath('my-trips')"
          ><v-icon small>mdi-keyboard-return</v-icon></v-btn
        >
        <h3>🗺 {{ $t('planning_trip.title') }}</h3>
      </div>
      <RTPCountDownTimer
        v-if="$moment(today).isBefore(this.trip.startDate)"
        :startTime="this.trip.startDate"
        class="pa-2 px-4 grey lighten-1"
      />
    </div>

    <trip-title
      v-bind:trip="trip"
      :allowNameChange="true"
      :showCurrency="true"
      @updateTripField="updateTripField"
    >
    </trip-title>

    <day-by-day-title />

    <v-flex xs12 class="trip-table-wrapper">
      <v-data-table
        :mobile-breakpoint="0"
        :items="tripDays"
        :items-per-page="itemsPerPage"
        :loading="tripTableLoading"
        :headers-length="15"
        :page.sync="page"
        hide-default-footer
        @page-count="pageCount = $event"
        class="trip-table"
      >
        <template v-slot:header>
          <thead>
            <tr>
              <th class="trip-table__index">{{ $t('trip_table.nr') }}</th>
              <th class="trip-table__day">{{ $t('trip_table.day') }}</th>
              <th class="trip-table__place">{{ $t('trip_table.start') }}</th>
              <th class="trip-table__place">{{ $t('trip_table.through') }}</th>
              <th class="trip-table__place">
                {{ $t('trip_table.destination') }}
              </th>
              <th class="text-right">{{ $t('trip_table.distance') }}</th>
              <th class="text-right">{{ $t('trip_table.travel_time') }}</th>
              <th>{{ $t('trip_table.main_attraction') }}</th>
              <th>{{ $t('trip_table.route') }}</th>
              <th>{{ $t('trip_table.accommodation') }}</th>
              <th>{{ $t('trip_table.weather') }}</th>
              <th>{{ $t('accommodation_costs') }}</th>
              <th>{{ $t('petrol_costs') }}</th>
              <th>{{ $t('additional_costs') }}</th>
              <th>{{ $t('trip_table.daily_notes') }}</th>
              <th class="trip-table__pod">
                {{ $t('trip_table.photo_of_day') }}
              </th>
              <th>{{ $t('trip_table.actions') }}</th>
            </tr>
          </thead>
        </template>
        <template v-slot:loading>
          <p class="text-center my-3">
            {{ $t('trip_table.loading_message') }}
          </p>
        </template>
        <template v-slot:item="{ item, index }">
          <tr :class="{ today: item.date === today }">
            <td class="trip-table__index">{{ item.index }}</td>
            <td class="trip-table__day">
              {{ item.date }}
              <small class="trip-table__day-name">{{
                item.date | moment('dddd')
              }}</small>
            </td>
            <td class="trip-table__place">
              <v-chip
                :class="{
                  yellow: item.index == 1 && item.dayStart === '',
                  'grey lighten-5': item.index !== 1 || item.dayStart !== '',
                }"
                @click="
                  editField(
                    $t('trip_table.start'),
                    'dayStart',
                    $t('trip_table.start_hint'),
                    item
                  )
                "
              >
                <div v-if="item.dayStart">{{ item.dayStart }}</div>
                <div v-else>+</div>
              </v-chip>
            </td>
            <td class="trip-table__destination">
              <v-chip
                color="grey lighten-5"
                @click="
                  editField(
                    $t('trip_table.through'),
                    'dayVia',
                    $t('trip_table.through_hint'),
                    item
                  )
                "
              >
                <div v-if="item.dayVia">{{ item.dayVia }}</div>
                <div v-else>+</div>
              </v-chip>
            </td>
            <td class="trip-table__destination">
              <v-chip
                color="grey lighten-5"
                @click="
                  editField(
                    $t('trip_table.destination'),
                    'dayDestination',
                    $t('trip_table.destination_hint'),
                    item
                  )
                "
              >
                <div v-if="item.dayDestination">{{ item.dayDestination }}</div>
                <div v-else>+</div>
              </v-chip>
            </td>
            <td class="text-right">
              <span
                v-if="item.dayRouteDistance !== 0"
                v-html="item.dayRouteDistance"
              ></span>
            </td>
            <td class="text-right">
              <route-duration
                v-if="item.dayRouteDurationInSeconds"
                :dayDurationInSeconds="item.dayRouteDurationInSeconds"
              ></route-duration>
            </td>
            <td
              @click="
                editField(
                  $t('trip_table.main_attraction'),
                  'dayPOI',
                  $t('trip_table.main_attraction_hint'),
                  item
                )
              "
              class="trip-table__poi"
            >
              <div
                v-if="item.dayPOI"
                :class="
                  item.dayPOI && item.dayPOI.length > $textLengthThreshold
                    ? 'trip-table__wider-col'
                    : ''
                "
              >
                {{ item.dayPOI }}
              </div>
              <v-chip color="grey lighten-5" v-else>+</v-chip>
            </td>
            <td>
              <routes-menu v-bind:day="item"></routes-menu>
            </td>
            <td>
              <accommodation-menu
                v-bind:day="item"
                v-bind:numberOfParticipants="trip.tripNumberOfParticipants"
              ></accommodation-menu>
            </td>
            <td>
              <check-weather-menu v-bind:day="item"></check-weather-menu>
            </td>
            <td class="text-center">
              <v-chip
                color="grey lighten-5"
                @click.stop="
                  showDialogWithDayCosts(
                    item,
                    'accommodation',
                    `${$t('accommodation_costs')} 🏨`
                  )
                "
              >
                <span v-if="item.accommodationCostsSum">{{
                  item.accommodationCostsSum | itsPrice
                }}</span>
                <span v-else>0</span>
              </v-chip>
            </td>
            <td class="text-center">
              <v-chip
                color="grey lighten-5"
                @click.stop="
                  showDialogWithDayCosts(
                    item,
                    'petrol',
                    `${$t('petrol_costs')} ⛽`
                  )
                "
              >
                <span v-if="item.petrolCostsSum">{{
                  item.petrolCostsSum | itsPrice
                }}</span>
                <span v-else>0</span>
              </v-chip>
            </td>
            <td class="text-center">
              <v-chip
                color="grey lighten-5"
                @click.stop="
                  showDialogWithDayCosts(
                    item,
                    'additional',
                    `${$t('additional_costs')} 🍽️ ☕ 🎫 🛒 🏧`
                  )
                "
              >
                <span v-if="item.additionalCostsSum">{{
                  item.additionalCostsSum | itsPrice
                }}</span>
                <span v-else>0</span>
              </v-chip>
            </td>
            <td>
              <div
                :class="
                  item.dayNotes && item.dayNotes.length > $textLengthThreshold
                    ? 'trip-table__wider-col'
                    : ''
                "
                v-if="item.dayNotes"
                @click="
                  editField(
                    $t('trip_table.daily_notes'),
                    'dayNotes',
                    $t('trip_table.daily_notes_hint'),
                    item
                  )
                "
              >
                {{ item.dayNotes }}
              </div>
              <v-chip
                color="grey lighten-5"
                v-else
                @click="
                  editField(
                    $t('trip_table.daily_notes'),
                    'dayNotes',
                    $t('trip_table.daily_notes_hint'),
                    item
                  )
                "
                >+</v-chip
              >
            </td>
            <td>
              <v-chip
                :color="`${
                  item.bestPhotoUrlThumb ? 'green' : 'grey'
                } lighten-5`"
                @click="addPhotoOfDay(item)"
                >+</v-chip
              >
            </td>
            <td>
              <v-menu
                origin="center center"
                transition="scale-transition"
                bottom
              >
                <template v-slot:activator="{ on }">
                  <v-icon v-on="on">more_vert</v-icon>
                </template>
                <v-list>
                  <v-list-item @click="dayActionAddOneDayBefore(item)">
                    <v-list-item-title>
                      <v-icon>add</v-icon>
                      {{ $t('trip_actions.add_day_before') }}
                    </v-list-item-title>
                  </v-list-item>
                  <v-list-item
                    v-if="tripDays.length > 1"
                    @click="dayActionDeleteDay(item)"
                  >
                    <v-list-item-title>
                      <v-icon>delete</v-icon>
                      {{ $t('trip_actions.remove_day') }}
                    </v-list-item-title>
                  </v-list-item>
                  <v-list-item @click="">
                    <v-list-item-title>
                      <v-icon>close</v-icon>
                      {{ $t('cta.close_menu') }}
                    </v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </td>
          </tr>
        </template>
        <template v-slot:body.append>
          <tr>
            <td colspan="5" />
            <td class="text-right">
              <span v-if="trip.tripDistance > 0"
                ><b>{{ trip.tripDistance }}</b
                ><br />km</span
              >
            </td>
            <td class="text-right">
              <b>{{ $durationInHoursAndMinutes(trip.tripDrivingTime) }}</b>
            </td>
            <td colspan="4"></td>
            <td class="text-center">
              <b v-if="trip.accommodationCostsSum">{{
                trip.accommodationCostsSum | itsPrice
              }}</b>
              <b v-else>0</b>
            </td>
            <td class="text-center">
              <b v-if="trip.petrolCostsSum">{{
                trip.petrolCostsSum | itsPrice
              }}</b>
              <b v-else>0</b>
            </td>
            <td class="text-center">
              <b v-if="trip.additionalCostsSum">{{
                trip.additionalCostsSum | itsPrice
              }}</b>
              <b v-else>0</b>
            </td>
            <td colspan="3"></td>
          </tr>
        </template>
      </v-data-table>
      <v-pagination
        class="my-4"
        v-model="page"
        :length="pageCount"
      ></v-pagination>
    </v-flex>

    <trip-controllers
      v-bind:trip="trip"
      v-bind:tripDays="tripDays"
      @updateTripStartDate="updateTripStartDate"
      @addDayAtTheEnd="addDayAtTheEnd"
      @removeDayAtTheEnd="removeDayAtTheEnd"
    ></trip-controllers>

    <trip-estimation-params
      v-bind:trip="trip"
      @updateTripField="updateTripField"
    >
    </trip-estimation-params>

    <trip-estimation-and-calculation
      v-bind:trip="trip"
      v-bind:tripDays="tripDays"
      v-bind:dayDivider="currentDayIndex"
      v-bind:allAdditionalCosts="allAdditionalCostsMerged"
    ></trip-estimation-and-calculation>

    <trip-costs-dialog
      v-bind:dialogCosts="dialogCosts"
      v-bind:dialogCostsTableData="dialogCostsTableData"
      v-bind:trip="trip"
      @closeDialog="dialogCosts.show = false"
    >
    </trip-costs-dialog>

    <photo-of-day v-bind:dialogPhotoOfDay="dialogPhotoOfDay"></photo-of-day>
  </v-layout>
</template>

<script>
// Firestore
import { tripsCollection, tripDaysCollection } from '@/plugins/fireinit'

// Components
import TripControllers from '~/components/TripControllers'
import TripCostsDialog from '~/components/TripCostsDialog'
import TripEstimationParams from '~/components/TripEstimationParams'
import TripEstimationAndCalculation from '~/components/TripEstimationAndCalculation'
import TripTitle from '~/components/TripTitle'
import PhotoOfDay from '~/components/PhotoOfDay'
import DayByDayTitle from '~/components/DayByDayTitle'
import RTPCountDownTimer from '../components/RTPCountDownTimer'

import RoutesMenu from '~/components/TripTableMenu/RoutesMenu'
import CheckWeatherMenu from '~/components/TripTableMenu/CheckWeatherMenu'
import AccommodationMenu from '~/components/TripTableMenu/AccommodationMenu'

import { DB, tripCostsCollection } from '../plugins/fireinit'
import RouteDuration from './RouteDuration'

export default {
  components: {
    RouteDuration,
    AccommodationMenu,
    TripControllers,
    TripEstimationParams,
    TripEstimationAndCalculation,
    TripTitle,
    RoutesMenu,
    TripCostsDialog,
    PhotoOfDay,
    DayByDayTitle,
    CheckWeatherMenu,
    RTPCountDownTimer,
  },
  data() {
    return {
      trip: {},
      tripDays: [],
      tripLength: 0,
      tripId: null,
      tripTableLoading: true,
      dialogCosts: {},
      dialogCostsTableData: [],
      dialogPhotoOfDay: false,
      today: new Date().toISOString().substr(0, 10),
      page: 1,
      pageCount: 0,
      itemsPerPage: 7,
      currentDayIndex: 0,
      allAdditionalCostsArray: [],
      allAdditionalCostsMerged: [],
    }
  },
  head() {
    return {
      title: `${this.$t('planning_trip.title')} - ${this.truncatedTitle}`,
    }
  },
  watch: {
    // To investigate
  },
  created() {
    let vm = this
    vm.uId = this.$store.state.user.uid
    vm.tripId = this.$router.history.current.query.id

    tripsCollection.doc(vm.tripId).onSnapshot(function (doc) {
      // Check if user is the owner of the trip
      if (doc.data() && vm.uId === doc.data().userId) {
        vm.trip = doc.data()
        vm.trip.tripId = doc.id

        tripDaysCollection
          .where('tripId', '==', vm.tripId)
          .orderBy('date')
          .onSnapshot(function (querySnapshot) {
            vm.tripDays = []
            querySnapshot.forEach((doc) => {
              vm.tripDays.push({
                bestPhotoUrl: doc.data().bestPhotoUrl,
                bestPhotoUrlThumb: doc.data().bestPhotoUrlThumb,
                date: doc.data().date,
                docId: doc.id,
                dayStart: doc.data().dayStart,
                dayVia: doc.data().dayVia,
                dayDestination: doc.data().dayDestination,
                dayPOI: doc.data().dayPOI,
                destinationPosition: doc.data().destinationPosition,
                accommodationCostsSum: doc.data().accommodationCostsSum,
                petrolCostsSum: doc.data().petrolCostsSum,
                additionalCostsSum: doc.data().additionalCostsSum,
                dayRouteDurationInSeconds: doc.data().dayRouteDurationInSeconds,
                dayRouteDistance: doc.data().dayRouteDistance,
                dayNotes: doc.data().dayNotes,
                index: doc.data().index,
              })
            })
            vm.tripTableLoading = false
            vm.jumpPageInTableToToday()
          })
      } else {
        vm.$router.push({ path: '/' })
      }
    })

    this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'dialog/changeTextDialog') {
        if (state.dialog.updatedField === 'dayVia') {
          this.calculateDayRoute(state.dialog.fieldData)
        } else if (state.dialog.updatedField === 'dayDestination') {
          this.updateByDestinationChange(state.dialog.fieldData)
        }
      }
    })

    tripCostsCollection
      .where('tripId', '==', vm.tripId)
      .where('category', '==', 'additional')
      .onSnapshot(function (querySnapshot) {
        querySnapshot.forEach((doc) => {
          vm.allAdditionalCostsArray.push({
            name: doc.data().name,
            amount: doc.data().amount,
            currency: doc.data().currency,
            convertedAmount: doc.data().convertedAmount,
            category: doc.data().category,
            id: doc.id,
          })
        })

        const merged = vm.allAdditionalCostsArray.reduce(
          (acc, { name, convertedAmount }) => {
            return { ...acc, [name]: (acc[name] ?? 0) + convertedAmount }
          },
          {}
        )

        vm.allAdditionalCostsMerged = Object.keys(merged).map((key) => ({
          value: vm.$options.filters.itsPrice(merged[key]),
          name: vm.$t(`trip_costs.${key}`),
        }))
      })
  },
  methods: {
    addDayAtTheEnd() {
      if (this.tripDays.length >= this.$tripMaxLengthInDaysLimit) {
        this.$notifier.showMessage({
          content: this.$t('errors.number_of_days'),
          color: 'error',
        })
        return false
      }

      let vm = this
      const newEndDate = this.$moment(vm.tripDays[vm.tripDays.length - 1].date)
        .add(1, 'day')
        .format('YYYY-MM-DD')
      const index = this.tripDays.length - 1
      tripDaysCollection
        .doc()
        .set({
          date: newEndDate,
          tripId: this.tripId,
          userId: this.uId,
          dayStart: this.tripDays[this.tripDays.length - 1].dayDestination,
          dayDestination: this.tripDays[0].dayStart,
          dayVia: '',
          dayRouteDistance: 0,
          dayRouteDurationInSeconds: 0,
          index: index + 2,
        })
        .then(function () {
          vm.updateTripLength(newEndDate)
          vm.calculateDayRoute(vm.tripDays[index + 1])
        })
    },
    calculateDayRoute(day, destinationOnly) {
      // Saving API calls
      // Do not calculate if ...
      if (
        !day.dayDestination || // there is no DESTINATION defined
        !day.dayStart || // there is no START point defined
        day.dayStart.length === 0 // or START is empty
      )
        return false

      const google = window.google
      const index = day.index
      const directionsService = new google.maps.DirectionsService()

      let dayVia = day.dayVia
      let wayPoints = []

      // If there is more than one Via point (separated by slash "/")
      // we have to create array for Google API
      if (dayVia && dayVia.length > 0) {
        dayVia = dayVia.split('/')
        for (let i = 0; i < dayVia.length; i++) {
          wayPoints.push({
            location: dayVia[i],
            stopover: true,
          })
        }
      }

      let vm = this
      // Asking Google API for distance and travel duration
      directionsService.route(
        {
          origin: day.dayStart,
          waypoints: wayPoints,
          destination: day.dayDestination,
          travelMode: 'DRIVING',
        },
        function (response, status) {
          if (status === 'OK') {
            let route = response.routes[0]
            let totalDayDistance = 0
            let totalDayDuration = 0
            for (let n = 0; n < route.legs.length; n++) {
              let legDistance = route.legs[n].distance.value
              let legDuration = route.legs[n].duration.value
              totalDayDistance += legDistance
              totalDayDuration += legDuration
            }

            tripDaysCollection
              .doc(vm.tripDays[index - 1].docId)
              .update({
                dayRouteDistance: Math.round(totalDayDistance / 1000),
                dayRouteDurationInSeconds: totalDayDuration,
                overviewPolyline: route.overview_polyline,
              })
              .then(function () {
                vm.sumUpTripDistance()
                vm.sumUpTripDrivingTime()
                if (day.dayDestination !== day.dayStart) {
                  vm.codeAddress(day, destinationOnly)
                }
              })
          } else {
            vm.$notifier.showMessage({
              content: vm.$t('errors.specify_the_place'),
              color: 'error',
            })
          }
        }
      )
    },
    codeAddress: function (day, destinationOnly) {
      let vm = this
      let address = day.dayDestination
      if (address.length === 0 || !destinationOnly) return false

      window.geocoder = new google.maps.Geocoder()
      window.geocoder.geocode({ address: address }, function (results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          const lat = results[0].geometry.location.lat()
          const lng = results[0].geometry.location.lng()

          tripDaysCollection.doc(day.docId).update({
            destinationPosition: {
              lat: lat,
              lng: lng,
            },
          })
        } else {
          vm.$notifier.showMessage({ content: status, status: 'error' })
        }
      })
    },
    dayActionAddOneDayBefore(day) {
      let vm = this
      const index = vm.tripDays.indexOf(day)

      let dayBeforePlace
      if (vm.tripDays[index - 1]) {
        dayBeforePlace = vm.tripDays[index - 1].dayDestination
      } else {
        dayBeforePlace = vm.tripDays[index].dayStart
      }

      const dayDate = vm
        .$moment(vm.tripDays[index].date)
        .subtract(1, 'day')
        .format('YYYY-MM-DD')
      tripDaysCollection
        .doc()
        .set({
          date: dayDate,
          tripId: vm.tripId,
          userId: vm.uId,
          dayStart: dayBeforePlace,
          dayDestination: dayBeforePlace,
          dayRouteDistance: 0,
          dayRouteDurationInSeconds: 0,
        })
        .then(function () {
          vm.updateTripDaysDates()
        })
    },
    dayActionDeleteDay(day) {
      let vm = this,
        newDayStart = null
      const index = vm.tripDays.indexOf(day)

      this.$deleteAllDayCosts(day.docId)

      // deleting last day
      if (index + 1 === vm.tripDays.length) {
        vm.removeDayAtTheEnd()
        return false
      }

      // deleting other days in table
      tripDaysCollection
        .doc(day.docId)
        .delete()
        .then(function () {
          // all days require dates update
          vm.updateTripDaysDates()

          // set proper dayStart
          if (index !== 0) {
            const previousDay = vm.tripDays[index - 1]
            newDayStart = previousDay.dayDestination
          } else {
            newDayStart = day.dayStart
          }

          tripDaysCollection
            .doc(vm.tripDays[index].docId)
            .update({
              dayStart: newDayStart,
            })
            .then(function () {
              vm.calculateDayRoute(vm.tripDays[index])
            })
        })
    },
    editField(title, fieldName, fieldHint, fieldItem) {
      this.$editor.showTextDialog({
        title: title,
        fieldName: fieldName,
        fieldHint: fieldHint,
        fieldData: fieldItem,
      })
    },
    addPhotoOfDay(day) {
      let vm = this
      tripDaysCollection
        .doc(day.docId)
        .get()
        .then((doc) => {
          if (doc.exists) {
            vm.dialogPhotoOfDay = {
              show: true,
              date: doc.data().date,
              docId: doc.id,
              bestPhotoUrl: doc.data().bestPhotoUrl,
              bestPhotoUrlThumb: doc.data().bestPhotoUrlThumb,
              index: doc.data().index,
              tripId: vm.tripId,
              uId: vm.uId,
            }
          }
        })
    },
    jumpPageInTableToToday: function () {
      this.setCurrentDay()
      if (this.currentDayIndex !== 0)
        this.page = Math.ceil(Number(this.currentDayIndex) / this.itemsPerPage)
    },
    setCurrentDay() {
      this.currentDayIndex =
        this.tripDays.findIndex((x) => x.date === this.today) + 1
      const lastDayDate = this.tripDays[this.tripDays.length - 1].date
      if (this.$moment(this.today).isAfter(lastDayDate)) {
        this.currentDayIndex = this.tripDays.length
      }
    },
    setTripField(fieldName, fieldDate) {
      let vm = this
      tripsCollection
        .doc(vm.tripId)
        .update({
          [fieldName]: fieldDate,
        })
        .catch(function (error) {
          this.$notifier.showMessage({ content: error, color: 'error' })
        })
    },
    showDialogWithDayCosts(day, cat, title) {
      let vm = this
      tripCostsCollection
        .where('dayId', '==', day.docId)
        .where('category', '==', cat)
        .onSnapshot(function (querySnapshot) {
          vm.dialogCostsTableData = []
          querySnapshot.forEach((doc) => {
            vm.dialogCostsTableData.push({
              name: doc.data().name,
              amount: doc.data().amount,
              currency: doc.data().currency,
              convertedAmount: doc.data().convertedAmount,
              category: doc.data().category,
              id: doc.id,
            })
          })
        })

      let costNameBasedOnCategory
      if (cat === 'accommodation') {
        costNameBasedOnCategory = 'accommodation'
      } else if (cat === 'petrol') {
        costNameBasedOnCategory = 'petrol'
      } else {
        costNameBasedOnCategory = ''
      }

      this.dialogCosts = {
        show: true,
        date: day.date,
        dayId: day.docId,
        cat: cat,
        title: title,
        name: costNameBasedOnCategory,
      }
    },
    sumUpTripDistance() {
      let distance = 0
      for (let i = 0; i < this.tripDays.length; i++) {
        const dayDistance = this.tripDays[i].dayRouteDistance
        distance += parseFloat(dayDistance)
      }
      this.setTripField('tripDistance', distance)
    },
    sumUpTripDrivingTime() {
      let totalDrivingTime = 0
      for (let i = 0; i < this.tripDays.length; i++) {
        const dayDrivingTime = this.tripDays[i].dayRouteDurationInSeconds
        totalDrivingTime += parseFloat(dayDrivingTime)
      }
      this.setTripField('tripDrivingTime', totalDrivingTime)
    },
    updateByDestinationChange(day) {
      this.updateNextDayStartPlace(day)
      this.calculateDayRoute(day, true)
    },
    updateNextDayStartPlace(day) {
      const index = day.index
      if (index < this.tripDays.length) {
        let vm = this
        tripDaysCollection
          .doc(vm.tripDays[index].docId)
          .update({
            dayStart: vm.tripDays[index - 1].dayDestination,
          })
          .then(function () {
            vm.calculateDayRoute(vm.tripDays[index])
          })
          .catch(function (error) {
            vm.$notifier.showMessage({ content: error, color: 'error' })
          })
      }
    },
    updateTripDaysDates() {
      let i = 0,
        vm = this
      tripDaysCollection
        .where('tripId', '==', this.tripId)
        .orderBy('date')
        .get()
        .then(function (querySnapshot) {
          const batch = DB.batch()
          querySnapshot.forEach(function (doc) {
            const newDayDate = vm
              .$moment(vm.trip.startDate)
              .add(i, 'day')
              .format('YYYY-MM-DD')
            batch.update(doc.ref, { date: newDayDate, index: i + 1 })
            i++
          })
          batch.commit().then(function () {
            const newEndDate = vm.tripDays[vm.tripDays.length - 1].date
            vm.updateTripLength(newEndDate)
          })
        })
    },
    updateTripField(fieldName) {
      let vm = this
      tripsCollection
        .doc(vm.tripId)
        .update({
          [fieldName]: vm.trip[fieldName],
        })
        .catch(function (error) {
          this.$notifier.showMessage({ content: error, color: 'error' })
        })
    },
    updateTripLength(endDate) {
      let vm = this
      vm.trip.endDate = endDate
      vm.trip.tripLength = vm.$countTripLength(vm.trip.startDate, endDate)
      vm.updateTripField('endDate')
      vm.updateTripField('tripLength')
    },
    updateTripStartDate() {
      this.updateTripField('startDate')
      this.updateTripDaysDates()
    },
    removeDayAtTheEnd() {
      if (!confirm(this.$t('cta.delete'))) {
        return false
      }

      let vm = this
      tripDaysCollection
        .doc(this.tripDays[this.tripDays.length - 1].docId)
        .delete()
        .then(function () {
          const newEndDate = vm
            .$moment(vm.tripDays[vm.tripDays.length - 1].date)
            .format('YYYY-MM-DD')
          vm.updateTripLength(newEndDate)
          vm.sumUpTripDistance()
          vm.sumUpTripDrivingTime()
        })
    },
  },
  computed: {
    truncatedTitle: function () {
      return this.$options.filters.truncate(this.trip.name, 40)
    },
    allAdditionalCostsData: function () {
      return this.allAdditionalCostsArray
    },
  },
}
</script>

<style lang="scss">
.trip-table__day {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: #fff;
}
</style>
