<template>
  <div>
    <v-progress-linear
      indeterminate
      color="blue darken-2"
      class="my-4"
      v-if="loading === true"
    ></v-progress-linear>
    <v-row v-if="trips.length === 0 && loading !== true">
      <v-col class="pt-6">
        {{ $t('plan_new.go_on_first_journey') }}
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="6" v-for="(trip, index) in trips" :key="index">
        <v-card
          class="mx-auto fill-height d-flex flex-column grey lighten-5"
          elevation="1"
        >
          <v-card-title class="py-3 grey lighten-3">{{
            trip.name
          }}</v-card-title>
          <v-card-text class="py-4">
            <span>{{ $t('days_on_tour') }}</span
            >: {{ trip.tripLength }} 🗓️ <br />
            <b>{{ trip.startDate }}</b> {{ $t('to') }} <b>{{ trip.endDate }}</b>
          </v-card-text>
          <v-card-text v-if="$moment(today).isBefore(trip.startDate)">
            <RTPCountDownTimer :startTime="trip.startDate" />
          </v-card-text>
          <v-card-text
            class="pt-0 font-weight-thin caption"
            v-if="costsNoted(trip)"
          >
            <v-row>
              <v-col cols="12" md="2" class="py-0">
                {{ $t('trip_costs.costs') }}:
              </v-col>
              <v-col cols="12" md="7" class="py-0">
                <span
                  v-if="trip.accommodationCostsSum"
                  class="mr-2 text-no-wrap"
                >
                  🏨️ {{ trip.accommodationCostsSum | itsRoundedPrice }}
                  <small>{{ trip.tripCurrency }}</small></span
                >
                <span v-if="trip.petrolCostsSum" class="mr-2 text-no-wrap"
                  >⛽ {{ trip.petrolCostsSum | itsRoundedPrice }}
                  <small>{{ trip.tripCurrency }}</small></span
                >
                <span v-if="trip.additionalCostsSum" class="mr-2 text-no-wrap"
                  >💵 {{ trip.additionalCostsSum | itsRoundedPrice }}
                  <small>{{ trip.tripCurrency }}</small></span
                >
              </v-col>
              <v-col cols="12" md="3" class="py-0">
                <span class="text-no-wrap"
                  >{{ $t('per_day') }}: {{ tripCostsPerDay(trip) }}
                  <small>{{ trip.tripCurrency }}</small></span
                >
              </v-col>
            </v-row>
          </v-card-text>
          <v-spacer></v-spacer>
          <v-divider />
          <v-card-actions class="mt-auto">
            <v-btn small text @click="$editTrip(trip.id)">
              <v-icon small class="mr-2">edit</v-icon> {{ $t('cta.edit') }}
            </v-btn>

            <v-btn small text @click="$viewTrip(trip.id)">
              {{ $t('cta.view') }}
            </v-btn>

            <v-spacer></v-spacer>

            <v-menu origin="center center" transition="scale-transition" bottom>
              <template v-slot:activator="{ on }">
                <v-icon v-on="on">more_vert</v-icon>
              </template>
              <v-list>
                <v-list-item @click="openConfirmationDialog(trip.id)">
                  <v-list-item-title
                    ><v-icon>delete</v-icon>
                    {{ $t('cta.delete') }}</v-list-item-title
                  >
                </v-list-item>
              </v-list>
            </v-menu>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col cols="12">
        <v-btn color="primary" @click="addNew"
          >{{ $t('plan_new.plan_new_trip') }}
        </v-btn>
        <v-btn
          class="fab"
          color="primary"
          elevation="5"
          fab
          right
          fixed
          @click="addNew"
          ><v-icon>mdi-plus</v-icon></v-btn
        >
      </v-col>
    </v-row>
    <v-dialog v-model="confirmDialog" width="500">
      <v-card>
        <v-card-title class="text-h5 grey lighten-2">
          {{ $t('cta.confirm_deletion') }}
        </v-card-title>

        <v-card-text class="mt-4">
          {{ $t('cta.confirm_deletion_subtitle') }}
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red"
            small
            @click="
              deleteTrip(tripId)
              confirmDialog = false
            "
          >
            {{ $t('cta.delete') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import {
  DB,
  tripCostsCollection,
  tripDaysCollection,
  tripsCollection,
} from '../plugins/fireinit'
import RTPCountDownTimer from '../components/RTPCountDownTimer'

export default {
  components: {
    RTPCountDownTimer,
  },
  data() {
    return {
      uId: '',
      tripId: '',
      trips: [],
      loading: true,
      confirmDialog: false,
      today: new Date().toISOString().substr(0, 10),
    }
  },
  created() {
    this.uId = this.$store.state.user.uid
    let vm = this
    tripsCollection
      .where('userId', '==', this.uId)
      .orderBy('endDate', 'desc')
      .onSnapshot(function (querySnapshot) {
        vm.loading = true
        vm.trips = []
        querySnapshot.forEach((doc) => {
          vm.trips.push({
            name: doc.data().name,
            tripLength: doc.data().tripLength,
            additionalCostsSum: doc.data().additionalCostsSum,
            accommodationCostsSum: doc.data().accommodationCostsSum,
            petrolCostsSum: doc.data().petrolCostsSum,
            startDate: doc.data().startDate,
            endDate: doc.data().endDate,
            tripCurrency: doc.data().tripCurrency,
            id: doc.id,
          })
        })
        vm.loading = false
      })
  },
  methods: {
    costsNoted(trip) {
      return (
        trip.accommodationCostsSum ||
        trip.petrolCostsSum ||
        trip.additionalCostsSum
      )
    },
    tripCostsPerDay(trip) {
      let sum = 0
      if (trip.petrolCostsSum) sum = sum + trip.petrolCostsSum
      if (trip.accommodationCostsSum) sum = sum + trip.accommodationCostsSum
      if (trip.additionalCostsSum) sum = sum + trip.additionalCostsSum
      let divider = trip.tripLength
      if (this.$moment(this.today).isBefore(trip.endDate)) {
        divider =
          this.$moment
            .duration(
              this.$moment(this.today).diff(this.$moment(trip.startDate))
            )
            .asDays() + 1
      }
      return Math.round(sum / 100 / divider)
    },
    addNew() {
      this.$router.push(this.localePath('plan-new'))
    },
    openConfirmationDialog(key) {
      this.tripId = key
      this.confirmDialog = true
    },
    deleteTrip(key) {
      let vm = this
      // TODO: There are some errors in console after removing trip
      tripsCollection
        .doc(key)
        .delete()
        .then(function () {
          vm.deleteTripDays(key)
          vm.$router.push(vm.localePath('my-trips'))
          vm.$notifier.showMessage({
            content: vm.$t('messages.trip_deleted'),
            color: 'info',
          })
        })
        .catch(function (error) {
          alert('Error removing trip: ', error)
        })
    },
    deleteTripDays(key) {
      tripDaysCollection
        .where('tripId', '==', key)
        .get()
        .then(function (querySnapshot) {
          const batch = DB.batch()
          querySnapshot.forEach(function (doc) {
            batch.delete(doc.ref)
          })
          batch.commit()
        })

      tripCostsCollection
        .where('tripId', '==', key)
        .get()
        .then(function (querySnapshot) {
          const batch = DB.batch()
          querySnapshot.forEach(function (doc) {
            batch.delete(doc.ref)
          })
          batch.commit()
        })
    },
  },
}
</script>

<style></style>
