<template>
  <div>
    <v-progress-linear
      indeterminate
      color="blue darken-2"
      class="my-4"
      v-if="loading === true"
    ></v-progress-linear>
    <v-row v-if="trips.length === 0 && loading !== true">
      <v-col class="pt-6">
        {{ $t('observed_trips.no_trips_on_the_list') }}
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="6" v-for="(trip, index) in trips" :key="index">
        <v-card
          class="mx-auto fill-height d-flex flex-column grey lighten-5"
          elevation="1"
        >
          <v-card-title class="py-3 grey lighten-3">{{
            trip.name
          }}</v-card-title>
          <v-card-text class="py-4">
            <span>{{ $t('days_on_tour') }}</span
            >: {{ trip.tripLength }} 🗓️ <br />
            <b>{{ trip.startDate }}</b> {{ $t('to') }} <b>{{ trip.endDate }}</b>
          </v-card-text>
          <v-spacer></v-spacer>
          <v-divider />
          <v-card-actions class="mt-auto">
            <v-btn small text @click="$viewTrip(trip.id)">
              {{ $t('cta.view') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { tripsCollection } from '../plugins/fireinit'

export default {
  data() {
    return {
      uId: '',
      trips: [],
      loading: true,
    }
  },
  created() {
    this.uId = this.$store.state.user.uid
    let vm = this
    tripsCollection
      .where('followersIDs', 'array-contains', this.uId)
      .orderBy('endDate', 'desc')
      .onSnapshot(function (querySnapshot) {
        vm.loading = true
        vm.trips = []
        querySnapshot.forEach((doc) => {
          vm.trips.push({
            name: doc.data().name,
            tripLength: doc.data().tripLength,
            startDate: doc.data().startDate,
            endDate: doc.data().endDate,
            id: doc.id,
          })
        })
        vm.loading = false
      })
  },
  methods: {},
}
</script>

<style></style>
