<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialogPhotoOfDay.show"
      fullscreen
      hide-overlay
      persistent
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="closeDialog()">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>{{ dialogPhotoOfDay.date }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn dark text @click="closeDialog()">
              {{ $t('cta.close') }}
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-container fluid grid-list-md>
          <h3 class="pb-3">{{ $t('trip_table.photo_of_day') }}</h3>
          <v-row>
            <v-col cols="12" md="5">
              <transition name="fade">
                <v-img
                  v-if="photoUrl"
                  :src="photoUrl"
                  max-height="600"
                  max-width="600"
                  aspect-ratio="1"
                >
                </v-img>
              </transition>
            </v-col>
            <v-col cols="12" md="7">
              <v-file-input
                accept="image/png, image/jpeg"
                :label="$t('cta.choose_file')"
                prepend-icon="mdi-camera"
                @change="processFile($event, dialogPhotoOfDay)"
              ></v-file-input>
              <v-progress-linear
                color="light-blue"
                v-if="imageFileUploading"
                height="10"
                :value="uploadProgress"
                striped
              ></v-progress-linear>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import firebase from 'firebase/app'
import 'firebase/storage'
import { tripDaysCollection } from '../plugins/fireinit'

export default {
  name: 'PhotoOfDay',
  props: ['dialogPhotoOfDay'],
  data() {
    return {
      imageFileUploading: false,
      uploadProgress: 0,
      docId: '',
      folderName: '',
      index: 0,
      photoSrc: '',
    }
  },
  computed: {
    photoUrl() {
      return this.photoSrc || this.dialogPhotoOfDay.bestPhotoUrl
    },
  },
  methods: {
    closeDialog() {
      this.photoSrc = ''
      this.dialogPhotoOfDay.show = false
    },
    processFile(e, dialogPhotoOfDay) {
      if (e === undefined) return

      const file = e
      const re = /(?:\.([^.]+))?$/
      const fileExt = re.exec(file.name.toLowerCase())[1]

      this.index = this.$minTwoDigits(dialogPhotoOfDay.index)
      this.folderName = `uid_${dialogPhotoOfDay.uId}/tripId_${dialogPhotoOfDay.tripId}/bestPhotos/${this.index}`
      const imageFilePath = `${this.folderName}/${this.index}.${fileExt}`
      const storageRef = firebase.storage().ref()
      let uploadTask = storageRef.child(imageFilePath).put(file)
      this.docId = dialogPhotoOfDay.docId

      let vm = this
      uploadTask.on(
        'state_changed',
        function (snapshot) {
          vm.imageFileUploading = true
          vm.uploadProgress =
            (snapshot.bytesTransferred / snapshot.totalBytes) * 100
        },
        function (error) {
          // Handle unsuccessful uploads
        },
        function () {
          uploadTask.snapshot.ref.getDownloadURL().then(function (url) {
            const params = new URLSearchParams(url)
            const newUrl =
              'https://firebasestorage.googleapis.com/v0/b/road--trip--planner.appspot.com/o/'
            const bigSizeUrl = `${newUrl}${vm.folderName.replace(
              /\//g,
              '%2F'
            )}%2F${vm.index}_3500x3500.webp?alt=media&token=${params.get(
              'token'
            )}`
            const smallSizeUrl = `${newUrl}${vm.folderName.replace(
              /\//g,
              '%2F'
            )}%2F${vm.index}_1500x1500.webp?alt=media&token=${params.get(
              'token'
            )}`
            vm.setPhotoUrl(bigSizeUrl, smallSizeUrl)
            vm.$notifier.showMessage({
              content: vm.$t('messages.file_uploaded'),
              color: 'info',
            })
            vm.imageFileUploading = false
            vm.photoSrc = url
          })
        }
      )
    },
    setPhotoUrl(urlBig, urlSmall) {
      tripDaysCollection.doc(this.docId).update({
        bestPhotoUrl: urlBig,
        bestPhotoUrlThumb: urlSmall,
      })
    },
  },
}
</script>

<style scoped></style>
