<template>
  <div>
    <v-layout wrap class="grey lighten-3 pa-4 mt-3 rounded">
      <h2 class="mb-4 title text-center">{{ $t('plan_new.name_the_trip') }}</h2>

      <v-flex xs12>
          <v-text-field
            @keyup.enter="addTrip"
            v-model="tripName"
            ref="tripNameRef"
            minlength="5"
            outlined
            :hint="$t('plan_new.name_hint')"
          ></v-text-field>
      </v-flex>

      <v-flex xs12 md5>
        <h2 class="mb-4 title">{{ $t('plan_new.start') }}</h2>

        <v-menu
          v-model="menu1"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          max-width="290px"
        >
          <template v-slot:activator="{ on }">

            <v-text-field
              v-model="startDate"
              :label="$t('plan_new.start')"
              outlined
              readonly
              v-on="on"
            ></v-text-field>

          </template>

          <v-date-picker @change="setMinDate()"
                         :locale="$i18n.locale"
                         v-model="startDate"
                         color="black lighten-1"
                         @input="menu1 = false">
          </v-date-picker>

        </v-menu>

      </v-flex>

      <v-flex hidden-xs-only md2>
        <v-layout align-center justify-center column fill-height>
          <p class="text-transform--capitalize mb-0">{{ $t('days') }}:</p>
          <span class="display-2">
             {{ tripLength }}
          </span>
        </v-layout>
      </v-flex>

      <v-flex xs12 md5>
        <h2 class="mb-4 title">{{ $t('plan_new.end') }}</h2>

        <v-menu
          v-model="menu2"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          max-width="290px"
          color="red"
        >
          <template v-slot:activator="{ on }">

            <v-text-field
              v-model="endDate"
              :label="$t('plan_new.end')"
              outlined
              readonly
              v-on="on"
            ></v-text-field>

          </template>

          <v-date-picker @change="updateTripLength"
                         :locale="$i18n.locale"
                         color="black lighten-1"
                         :min="minEndDate"
                         v-model="endDate"
                         @input="menu2 = false">
          </v-date-picker>

        </v-menu>
      </v-flex>


      <v-flex xs12 md5>
        <h2 class="mb-4 title">{{ $t('plan_new.participants_number') }}</h2>

        <v-select
          :items="supportedNumberOfParticipants"
          outlined
          :label="$t('user_settings.label_default_number_of_participants')"
          v-model="selectedNumberOfParticipants"
        />
      </v-flex>

      <v-flex xs12 md5 offset-md2>
        <h2 class="mb-4 title">{{ $t('your_currency') }}</h2>

        <v-select
          :items="$supportedCurrencies"
          :item-text="`currency_name_${$i18n.locale}`"
          item-value="currency_code"
          outlined
          :label="$t('currency')"
          v-model="selectedCurrency"
        />
      </v-flex>
    </v-layout>


  <v-spacer></v-spacer>

  <v-flex xs12 mt-4 text-right>
    <v-btn large
           color="primary"
           @click="addTrip"> {{ $t('plan_new.add_trip') }}
    </v-btn>
  </v-flex>
  </div>

</template>

<script>
  import {tripDaysCollection, tripsCollection, profileSettings, rtpSettings} from "../plugins/fireinit";

  export default {
    created() {
      this.uId = this.$store.state.user.uid
      let vm = this
      vm.uId = this.$store.state.user.uid
      vm.profileSettingsRef = profileSettings.doc(vm.uId)
      vm.profileSettingsRef.get()
        .then((docSnapshot) => {
          if (docSnapshot.exists) {

            vm.profileSettingsRef.onSnapshot((doc) => {
              vm.selectedCurrency = doc.data().defaultCurrency

              if (typeof doc.data().defaultNumberOfParticipants !== 'undefined') {
                vm.selectedNumberOfParticipants = doc.data().defaultNumberOfParticipants
              }

            })

          } else {
            vm.profileSettingsRef.set({
              userId: vm.uId
            })
          }
        })

      vm.supportedNumberOfParticipantsRef = rtpSettings.doc("number_of_participants")
      vm.supportedNumberOfParticipantsRef.get().then(() => {
        vm.supportedNumberOfParticipantsRef.onSnapshot((doc) => {
          for (let i=1; i <= doc.data().number; i++) {
            vm.supportedNumberOfParticipants.push(i)
          }
        })
      })

      this.setMinDate();
    },
    data() {
      return {
        endDate: null,
        minEndDate: null,
        startDate: new Date().toISOString().substr(0, 10),
        tripName: '',
        tripLength: 0,
        supportedNumberOfParticipants: [],
        supportedNumberOfParticipantsRef: null,
        selectedCurrency: null,
        selectedNumberOfParticipants: 1,
        menu1: null,
        menu2: null,
        uId: null
      }
    },
    methods: {
      setMinDate() {
        const minEndDate = this.$moment(this.startDate).add(1, 'day').toISOString().substr(0, 10)
        this.endDate = minEndDate
        this.minEndDate = minEndDate
        this.updateTripLength()
      },
      updateTripLength() {
        this.tripLength = this.$countTripLength(this.startDate, this.endDate);
      },
      addTrip() {
        if (this.tripName.length < 4) {
          this.$notifier.showMessage({content: this.$t('errors.name_the_trip'), color: 'error'})
          this.$refs.tripNameRef.focus()
          return false
        }

        if (this.tripLength >= this.$tripMaxLengthInDaysLimit) {
          this.$notifier.showMessage({content: this.$t('errors.number_of_days'), color: 'error'})
          return
        }

         if (typeof this.selectedCurrency === 'undefined') {
          this.$notifier.showMessage({content: this.$t('errors.your_currency'), color: 'error'})
          return false
        }

        let vm = this
        tripsCollection.add({
          accommodationCostEstimationMin: 0,
          accommodationCostEstimationMax: 0,
          additionalCostsEstimationMin: 0,
          additionalCostsEstimationMax: 0,
          avgBurning: 0,
          avgGasPrice: 0,
          endDate: this.endDate,
          name: this.tripName,
          startDate: this.startDate,
          tripLength: this.tripLength,
          userId: this.uId,
          tripDistance: 0,
          tripDrivingTime: 0,
          tripNumberOfParticipants: this.selectedNumberOfParticipants,
          tripCurrency: this.selectedCurrency
        }).then(function (doc) {
          vm.addTripDays(doc.id)
          vm.$router.push({path: 'trip-edit', query: {id: doc.id}})
        })
      },
      addTripDays(tripId) {
        for (let i = 0; i < this.tripLength; i++) {
          tripDaysCollection.doc().set({
            date: this.$moment(this.startDate).add(i, 'day').format('YYYY-MM-DD'),
            tripId: tripId,
            userId: this.uId,
            dayStart: '',
            dayVia: '',
            dayDestination: '',
            dayRouteDistance: 0,
            dayRouteDurationInSeconds: 0,
            index: i + 1
          })
        }
      },
    }
  }
</script>
