<template>
  <div class="text-no-wrap">
    <v-tooltip
      v-if="dayDurationInSeconds > 86400"
      bottom
    >
      <template v-slot:activator="{ on }">
        <span v-on="on">⚠️</span>
      </template>
      <span>{{ $t( "route.over_24h" )}}<br>{{ $t( "route.split" )}}.</span>
    </v-tooltip>
    <v-tooltip
      v-else-if="dayDurationInSeconds > 18000"
      bottom
    >
      <template v-slot:activator="{ on }">
        <span v-on="on">⚠️</span>
      </template>
      <span>{{ $t( "route.over_5h" )}}.<br> {{ $t( "route.remember_to_rest" )}}</span>
    </v-tooltip>
    {{ $durationInHoursAndMinutes(dayDurationInSeconds) }}
  </div>
</template>

<script>

  export default {
    props: ['dayDurationInSeconds'],
    methods: {}
  }
</script>
