<template>
  <vue-countdown-timer
      :start-time="startTime"
      :interval="1000"
      :start-label="`🕛 ${$t('viewing_trip.until_start')}`"
      label-position="begin"
      :end-text="'Event ended!'"
      :day-txt="$t('days')"
      :hour-txt="$t('hours')"
      :minutes-txt="$t('minutes')"
      :seconds-txt="$t('seconds')">
    <template slot="countdown" slot-scope="scope">
      &nbsp;
      <span>{{ scope.props.days }}</span>
      <small><i>{{ scope.props.dayTxt }}</i></small>
      &nbsp;
      <span>{{ scope.props.hours }}</span>
      <small><i>{{ scope.props.hourTxt }}</i></small>
    </template>
  </vue-countdown-timer>
</template>

<script>
export default {
  props: ['startTime']
}
</script>
