<template>
  <div>
    <h2 class="text-h6 text-md-h5 mb-3">{{ $t('rtp_in_action') }}</h2>
    <p v-if="showSubTitle" v-html="$t('see_all_screenshots')"></p>
    <p class="caption mb-0 cursor-pointer" @click="showDesktopGallery()"> 🖥️ {{ $t('on_desktop') }}</p>
    <img :src="desktopImageSrc || this.$transparentImgH"
         alt="Road-Trip-Planner - Desktop"
         class="flex cursor-pointer mt-2 w-100"
         @click="showDesktopGallery()" />
    <CoolLightBox
      :items="desktopScreens"
      :index="desktopIndex"
      @on-open="$toggleBodyClass('coolbox-opened')"
      @close="closeDesktopGallery();$toggleBodyClass('coolbox-opened')"
      :effect="'fade'"
      :fullScreen="true"
      :slideshowColorBar="barColor"
      :closeOnClickOutsideMobile="true"
      :useZoomBar="true">></CoolLightBox>

      <!-- -->

      <p class="caption mt-2 mb-0 cursor-pointer" @click="showMobileGallery()">📱 {{ $t('on_mobile') }}</p>
      <img :src="mobileImageSrc"
           alt="Road-Trip-Planner - Mobile"
           class="rtp_mobile flex cursor-pointer mt-2 w-100"
           @click="showMobileGallery()" />
      <CoolLightBox
        :items="mobileScreens"
        :index="mobileIndex"
        @on-open="$toggleBodyClass('coolbox-opened')"
        @close="closeMobileGallery();$toggleBodyClass('coolbox-opened')"
        :effect="'fade'"
        :fullScreen="true"
        :slideshowColorBar="barColor"
        :closeOnClickOutsideMobile="true"
        :useZoomBar="true">></CoolLightBox>

  </div>
</template>

<script>
  import CoolLightBox from "vue-cool-lightbox";
  import 'vue-cool-lightbox/dist/vue-cool-lightbox.min.css'

  export default {
    props: [
     'showSubTitle'
    ],
    components: {
      CoolLightBox
    },
    created () {
      this.setDesktopImageSrc()
      this.setMobileImageSrc()
    },
    data() {
      return {
        barColor: "#ddd333",
        desktopImageSrc: this.$transparentImgH,
        desktopIndex: null,
        desktopDisplayedIndex: 0,
        desktopScreens: [
          {
            src: "/images/screen/shots/trip-view-01--map.png",
          },
          {
            src: "/images/screen/shots/my-trips.png",
          },
          {
            src: "/images/screen/shots/trip-edit-01.png",
          },
          {
            src: "/images/screen/shots/trip-edit-02.png",
          },
          {
            src: "/images/screen/shots/trip-edit-03.png",
          },
          {
            src: "/images/screen/shots/trip-edit-04.png",
          },
          {
            src: "/images/screen/shots/trip-edit-05--notes.png",
          },
          {
            src: "/images/screen/shots/trip-edit-06--estimation-calculation.png",
          },
          {
            src: "/images/screen/shots/trip-view-02--travel-cards--01.png",
          },
          {
            src: "/images/screen/shots/trip-view-02--travel-cards--02.png",
          },
          {
            src: "/images/screen/shots/trip-view-02--travel-cards--03.png",
          },
          {
            src: "/images/screen/shots/trip-view-03--gallery.png",
          },
        ],
        mobileImageSrc: this.$transparentImgV,
        mobileIndex: null,
        mobileDisplayedIndex: 0,
        mobileScreens: [
          {
            src: "/images/screen/shots/mobile/trip-edit-01.png",
          },
          {
            src: "/images/screen/shots/mobile/trip-edit-02.png",
          },
          {
            src: "/images/screen/shots/mobile/trip-edit-03.png",
          },
          {
            src: "/images/screen/shots/mobile/trip-edit-04.png",
          },
          {
            src: "/images/screen/shots/mobile/trip-edit-05.png",
          },
          {
            src: "/images/screen/shots/mobile/trip-edit-06.png",
          },
          {
            src: "/images/screen/shots/mobile/my-trips-01.png",
          },
          {
            src: "/images/screen/shots/mobile/trip-view-01.png",
          },
          {
            src: "/images/screen/shots/mobile/trip-view-02.png",
          },
          {
            src: "/images/screen/shots/mobile/trip-view-03.png",
          },
          {
            src: "/images/screen/shots/mobile/trip-view-04.png",
          },
        ],
      }
    },
    methods: {
      showDesktopGallery () {
        this.desktopIndex = this.desktopDisplayedIndex
      },
      closeDesktopGallery () {
        this.desktopIndex = null
        this.setDesktopImageSrc()
      },
      setDesktopImageSrc () {
        this.desktopDisplayedIndex = Math.floor(Math.random() * this.desktopScreens.length)
        this.desktopImageSrc = this.desktopScreens[this.desktopDisplayedIndex].src
      },
      showMobileGallery () {
        this.mobileIndex = this.mobileDisplayedIndex
      },
      closeMobileGallery () {
        this.mobileIndex = null
        this.setMobileImageSrc()
      },
      setMobileImageSrc () {
        this.mobileDisplayedIndex = Math.floor(Math.random() * this.mobileScreens.length)
        this.mobileImageSrc= this.mobileScreens[this.mobileDisplayedIndex].src
      }
    }
  }
</script>

<style>
.cursor-pointer {
  cursor: pointer;
}
.rtp_mobile {
  max-width: 16rem;
}
</style>
