<template>
  <v-snackbar
    bottom
    v-model="show"
    :color="color"
    :timeout="snackBarTimeout">

    {{ message }}

    <template v-slot:action>
      <v-btn
          color="black"
          @click="show = false"
      >
        {{ $t('cta.close') }}
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
  export default {
    data () {
      return {
        show: false,
        message: '',
        color: '',
        snackBarTimeout: 5000
      }
    },

    created () {
      this.$store.subscribe((mutation, state) => {
        if (mutation.type === 'snackbar/showMessage') {
          this.message = state.snackbar.content
          this.color = state.snackbar.color
          this.show = true
        }
      })
    }
  }
</script>

<style lang="scss">
  .v-snack {
    font-size: 12px;
    line-height: 1;

    &--bottom {
      padding-bottom: 58px !important;
    }
  }
</style>
