<template>
  <google-map-loader :mapConfig="mapConfig" :mapMarkers="markers">
    <template slot-scope="{ google, map, gMapInfoWindow }">
      <google-map-marker
        v-for="(marker, index) in markers"
        :key="marker.id"
        :marker="marker"
        :google="google"
        :map="map"
        :googleInfoWindow="gMapInfoWindow"
        :index="index"
      />
    </template>
  </google-map-loader>
</template>
<script>
import { mapSettings } from '~/constants/mapSettings'
import GoogleMapLoader from '~/components/GoogleMapLoader'
import GoogleMapMarker from '~/components/GoogleMapMarker'

export default {
  data() {
    return {
      markers: [],
    }
  },
  components: {
    GoogleMapLoader,
    GoogleMapMarker,
  },
  watch: {
    passedPosition: function (array) {
      if (array.length === 0) return
      this.markers = array
    },
  },
  props: ['passedPosition'],
  computed: {
    mapConfig() {
      return {
        ...mapSettings,
      }
    },
  },
}
</script>
