<template>
  <div class="pb-8">
    <v-container wrap container--fluid grid-list-xl class="pl-0">
      <v-row>
        <v-col cols="12" md="6" class="pb-0">
          <h3>🌅 {{ $t('viewing_trip.travel_cards') }}</h3>
        </v-col>
        <v-col
          cols="12"
          md="6"
          class="text-md-right pb-2"
          v-if="coolBoxItems.length > 0"
        >
          <v-btn small class="primary" @click="openCoolBox">
            <v-icon small class="mr-2" color="black">collections</v-icon>
            {{ $t('viewing_trip.beta_gallery') }}
          </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          cols="12"
          sm="6"
          md="4"
          v-for="(day, index) in tripDays"
          :key="index"
          v-if="day.bestPhotoUrlThumb || day.dayPOI || day.dayNotes"
          class="pb-0 pr-0"
        >
          <v-card height="100%" :class="{ today: day.date === today }">
            <transition name="fade">
              <v-img
                v-if="day.bestPhotoUrlThumb"
                :src="day.bestPhotoUrlThumb"
                aspect-ratio="1"
              >
                <div class="details-wrapper details-wrapper--top">
                  <v-layout>
                    <v-col cols="3">
                      <span
                        ><b>{{ $t('trip_table.day') }} {{ day.index }}</b></span
                      >
                    </v-col>
                    <v-col cols="9" class="text-right">
                      <span>
                        <span v-if="day.dayStart !== day.dayDestination"
                          >{{ day.dayStart }} -</span
                        >
                        {{ day.dayDestination }}
                      </span>
                    </v-col>
                  </v-layout>
                </div>
                <div class="details-wrapper details-wrapper--bottom">
                  <span>{{ day.date }}</span>
                  <small>{{ day.date | moment('dddd') }}</small>
                </div>
              </v-img>
              <h3 v-else class="pa-4">
                <span
                  ><b>{{ $t('trip_table.day') }} {{ day.index }}</b></span
                >
              </h3>
            </transition>
            <v-card-title primary-title v-if="day.dayPOI || day.dayNotes">
              <div style="width: 100%">
                <v-layout column>
                  <v-col
                    cols="12"
                    v-if="day.dayPOI"
                    :class="[{ 'pb-0': day.dayPOI }, 'd-flex']"
                  >
                    <v-tooltip left transition="fade">
                      <template v-slot:activator="{ on }">
                        <span v-on="on" class="pr-2 target-icon">🎯️</span>
                      </template>
                      <span>{{ $t('trip_table.main_attraction') }}</span>
                    </v-tooltip>
                    <p class="d-inline-block body-2">{{ day.dayPOI }}</p>
                  </v-col>
                  <v-col
                    cols="12"
                    v-if="day.dayNotes"
                    :class="[{ 'pt-0': day.dayPOI }, 'd-flex']"
                  >
                    <v-tooltip left transition="fade">
                      <template v-slot:activator="{ on }">
                        <span v-on="on" class="pr-2">📝️</span>
                      </template>
                      <span>{{ $t('trip_table.daily_notes') }}</span>
                    </v-tooltip>
                    <p class="d-inline-block body-2">{{ day.dayNotes }}</p>
                  </v-col>
                </v-layout>
              </div>
            </v-card-title>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  props: ['tripDays', 'tripId', 'coolBoxItems'],
  components: {},
  data() {
    return {
      today: new Date().toISOString().substr(0, 10),
    }
  },
  methods: {
    openCoolBox() {
      this.$emit('runGallery')
    },
  },
}
</script>

<style lang="scss" scoped>
.details-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  line-height: 1.2;
  color: white;
  padding: 16px;

  &--top {
    top: 0;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.8)
    );
    padding-bottom: 50px;
  }

  &--bottom {
    bottom: 0;
    padding-top: 50px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.8)
    );
  }

  span {
    font-size: 13px;
  }

  small {
    display: block;
    text-transform: capitalize;
  }
}

.target-icon {
  position: relative;
  top: -0.3rem;
}
</style>
