<template>
  <v-container container--fluid grid-list-md wrap class="mb-0 px-0">
    <v-layout wrap class="grey lighten-3 px-4 pt-4 rounded">
      <v-flex xs12 md12>
        <h3 class="mb-4"><b>{{ $t("estimation_params") }}</b></h3>
        <v-layout wrap>
          <v-flex xs12 md4 px-4>
            <small class="mt-1 mb-0">🏨️ <b>{{ $t("accommodation_costs") }}</b></small>
            <v-layout wrap>
              <v-flex xs6 md6>
                <v-text-field
                  outlined
                  label="Min"
                  type="number"
                  v-model="trip.accommodationCostEstimationMin"
                  min="0"
                  step="10"
                  v-bind:suffix="trip.tripCurrency"
                  @click="$event.target.select()"
                  @change="saveEstimationParam('accommodationCostEstimationMin')"/>
              </v-flex>
              <v-flex xs6 md6>
                <v-text-field
                  outlined
                  label="Max"
                  type="number"
                  v-model="trip.accommodationCostEstimationMax"
                  min="0"
                  step="10"
                  v-bind:suffix="trip.tripCurrency"
                  @click="$event.target.select()"
                  @change="saveEstimationParam('accommodationCostEstimationMax')"/>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs12 md4 px-4>
            <small class="mt-1 mb-0">💵 <b>{{ $t("additional_costs") }}</b></small>
            <v-layout wrap>
              <v-flex xs6 md6>
                <v-text-field
                  outlined
                  label="Min"
                  type="number"
                  v-model="trip.additionalCostsEstimationMin"
                  min="0"
                  step="10"
                  v-bind:suffix="trip.tripCurrency"
                  @click="$event.target.select()"
                  @change="saveEstimationParam('additionalCostsEstimationMin')"/>
              </v-flex>
              <v-flex xs6 md6>
                <v-text-field
                  outlined
                  label="Max"
                  type="number"
                  v-model="trip.additionalCostsEstimationMax"
                  min="0"
                  step="10"
                  v-bind:suffix="trip.tripCurrency"
                  @click="$event.target.select()"
                  @change="saveEstimationParam('additionalCostsEstimationMax')"/>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs12 md4 px-4>
            <small class="mt-1 mb-0">⛽ <b>{{ $t("petrol_costs") }}</b></small>
            <v-layout wrap>
              <v-flex xs12 md6>
                <v-text-field
                  outlined
                  :label="$t('avg_burning')"
                  type="number"
                  v-model="trip.avgBurning"
                  min="0"
                  step="0.5"
                  suffix="l/100 km"
                  @click="$event.target.select()"
                  @change="saveEstimationParam('avgBurning')"/>
              </v-flex>
              <v-flex xs12 md6>
                <v-text-field
                  outlined
                  :label="$t('avg_price_of_liter')"
                  type="number"
                  v-model.number="trip.avgGasPrice"
                  min="0"
                  step="0.5"
                  @click="$event.target.select()"
                  @change="saveEstimationParam('avgGasPrice')"
                  v-bind:suffix="trip.tripCurrency"/>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    props: ['trip'],
    data() {
      return {

      }
    },
    methods: {
      saveEstimationParam(paramName) {
        this.$emit('updateTripField', paramName)
      }
    }
  }
</script>
