<template>
  <v-layout wrap class="grey lighten-2 px-4 py-1 align-center">
    <v-flex xs12 sm6 class="my-1">
      <v-dialog v-if="allowNameChange" v-model="changeTripNameMenu" width="500">
        <template v-slot:activator="{ on, attrs }">
          <h1 v-on="on" v-bind="attrs" class="text-h5">{{ trip.name }}</h1>
        </template>
        <v-card>
          <v-card-title class="headline grey lighten-2" primary-title>{{
            $t('cta.change_name')
          }}</v-card-title>
          <v-card-text class="pt-0">
            <v-textarea rows="3" v-model="trip.name"></v-textarea>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn small @click="changeTripNameMenu = false">{{
              $t('cta.cancel')
            }}</v-btn>
            <v-btn
              color="primary"
              small
              class="mr-2"
              @click="
                saveTripTitle('name')
                changeTripNameMenu = false
              "
              >{{ $t('cta.save') }}</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <h1 v-else class="text-h5">
        {{ trip.name }}
      </h1>
      <follow-the-trip
        v-if="
          showFollowTripBtn && tripOwner.loaded && tripOwner.userId !== userId
        "
        :tripId="tripId"
      ></follow-the-trip>
    </v-flex>
    <v-flex xs12 sm3 class="text-sm-right my-1 body-2">
      {{ $t('travellers') }}: <b>{{ trip.tripNumberOfParticipants }}</b> 👨‍💼
      <span
        v-if="tripOwner"
        class="hover-on"
        @click="$viewTravelerProfile(trip.userId)"
      >
        <br />
        <v-avatar size="20" style="top: -1px">
          <img :src="tripOwner.photoUrl" :alt="tripOwner.displayName" />
        </v-avatar>
        <b>{{ tripOwner.displayName }}</b>
        <a
          v-if="tripOwner.instagram"
          :href="`https://instagram.com/${tripOwner.instagram}`"
          target="_blank"
        >
          <v-icon color="black" small class="ml-1">mdi-instagram</v-icon>
        </a>
        <a
          v-if="tripOwner.instagram"
          :href="`https://facebook.com/${tripOwner.facebook}`"
          target="_blank"
        >
          <v-icon color="black" small>mdi-facebook</v-icon>
        </a>
        <a
          v-if="tripOwner.blogUrl"
          :href="`https://${tripOwner.blogUrl}`"
          target="_blank"
        >
          <v-icon color="black" small>mdi-web</v-icon>
        </a>
        <br />
      </span>

      <span v-if="showCurrency"
        ><br />
        {{ $t('currency') }}: <b>{{ trip.tripCurrency }}</b> 💵</span
      >
    </v-flex>
    <v-flex xs12 sm3 class="text-sm-right my-1 body-2">
      {{ $t('days_on_tour') }}: <b>{{ trip.tripLength }}</b> 🗓️ <br />
      <b>{{ trip.startDate }}</b> {{ $t('to') }} <b>{{ trip.endDate }}</b>
    </v-flex>
  </v-layout>
</template>

<script>
import FollowTheTrip from './FollowTheTrip'
export default {
  props: [
    'trip',
    'tripId',
    'tripOwner',
    'userId',
    'allowNameChange',
    'showCurrency',
    'showFollowTripBtn',
  ],
  components: { FollowTheTrip },
  data() {
    return {
      changeTripNameMenu: false,
      showTooltip: false,
    }
  },
  methods: {
    saveTripTitle(name) {
      this.$emit('updateTripField', name)
    },
  },
}
</script>

<style></style>
