<template>
  <v-container fluid grid-list-md class="px-0">
    <v-layout wrap>

      <v-dialog
          ref="dialog"
          v-model="startDatePickerModal"
          persistent
          width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-btn prepend-icon="event"
                 readonly
                 v-on="on"
                 class="ma-2"
                 small>
            {{ $t("trip_actions.change_start_date") }}
          </v-btn>
        </template>
        <v-date-picker
            v-model="trip.startDate"
            locale="pl"
            @change="updateTripStartDate()"
            scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="startDatePickerModal = false">{{ $t("cta.cancel") }}</v-btn>
        </v-date-picker>
      </v-dialog>

      <v-btn small
             class="ma-2"
             @click="addDayAtTheEnd(), $keepFocusOnMe($event)">
        {{ $t("trip_actions.extend_by_1_day") }}
      </v-btn>

      <v-btn v-if="tripDays.length > 1"
             small
             class="ma-2"
             @click="removeDayAtTheEnd(), $keepFocusOnMe($event)">
        {{ $t("trip_actions.shorten") }}
      </v-btn>

      <v-spacer></v-spacer>

      <v-btn small
             color="primary"
             dark
             class="ma-2"
             @click="$viewTrip(trip.tripId)">
          {{ $t("trip_actions.view_trip") }} 🗺
      </v-btn>

    </v-layout>
  </v-container>
</template>

<script>
  export default {
    props: ['trip', 'tripDays'],
    data() {
      return {
        startDatePickerModal: false
      }
    },
    methods: {
      addDayAtTheEnd() {
        this.$emit('addDayAtTheEnd')
      },
      removeDayAtTheEnd() {
        this.$emit('removeDayAtTheEnd')
      },
      updateTripStartDate() {
        this.startDatePickerModal = false
        this.$emit('updateTripStartDate')
      }
    }
  }
</script>
