<template>
  <v-container container--fluid grid-list-md wrap class="mb-6 px-0">
    <v-layout wrap>
      <v-flex xs6>
        <p class="mb-0">
          <b>{{ $t('estimation') }}</b> <br class="hidden-sm-and-up" />
          {{ $t('for') }}
          <span v-html="tripDays.length" />
          <span v-if="tripDays.length === 1">
            {{ $t('day') }}
          </span>
          <span v-else>
            {{ $t('days') }}
          </span>
          {{ $t('and') }} {{ trip.tripDistance }} km
        </p>
        <p class="mt-4 mb-0 font-weight-thin">
          🏨️ ~
          <span
            v-html="
              Math.round(
                trip.accommodationCostEstimationMin * (tripDays.length - 1)
              )
            "
          ></span>
          -
          <span
            v-html="
              Math.round(
                trip.accommodationCostEstimationMax * (tripDays.length - 1)
              )
            "
          ></span>
          {{ trip.tripCurrency }}
        </p>
        <p class="mt-1 mb-0 font-weight-thin">
          ⛽️ ~
          <span
            v-html="
              Math.round(
                (trip.tripDistance * trip.avgBurning * trip.avgGasPrice) / 100
              )
            "
          ></span>
          {{ trip.tripCurrency }}
        </p>
        <p class="mt-1 mb-0 font-weight-thin">
          💵 ~
          <span
            v-html="
              Math.round(trip.additionalCostsEstimationMin * tripDays.length)
            "
          ></span>
          -
          <span
            v-html="
              Math.round(trip.additionalCostsEstimationMax * tripDays.length)
            "
          ></span>
          {{ trip.tripCurrency }}
        </p>
        <v-divider class="my-4"></v-divider>
        <p class="mt-4 mb-0 title">
          <b
            v-html="
              Math.round(
                trip.accommodationCostEstimationMin * (tripDays.length - 1) +
                  trip.additionalCostsEstimationMin * tripDays.length +
                  (trip.tripDistance * trip.avgBurning * trip.avgGasPrice) / 100
              )
            "
          ></b>
          -
          <b
            v-html="
              Math.round(
                trip.accommodationCostEstimationMax * (tripDays.length - 1) +
                  trip.additionalCostsEstimationMax * tripDays.length +
                  (trip.tripDistance * trip.avgBurning * trip.avgGasPrice) / 100
              )
            "
          ></b>
          {{ trip.tripCurrency }}
        </p>
      </v-flex>
      <v-flex xs6 text-right>
        <p class="mb-0">
          <b>{{ $t('calculation') }}</b> <br />
          <br class="hidden-sm-and-up" />
        </p>
        <p class="mt-4 mb-0 font-weight-thin">
          <span v-html="tripAccommodationCostsSum"></span>
          {{ trip.tripCurrency }} 🏨️
        </p>
        <p class="mt-1 mb-0 font-weight-thin">
          <span v-html="tripPetrolCostsSum"></span>
          {{ trip.tripCurrency }} ⛽
        </p>
        <p class="mt-1 mb-0 font-weight-thin">
          <span v-html="tripAdditionalCostsSum"></span>
          {{ trip.tripCurrency }} 💵
        </p>
        <v-divider class="my-4"></v-divider>
        <p class="mt-4 mb-0 title">
          <b v-html="tripTotalCosts"></b>
          {{ trip.tripCurrency }}
        </p>

        <p class="mt-2">
          {{ $t('per_day') }}: ~<b v-html="tripPerDayCost"></b>
          {{ trip.tripCurrency }}
        </p>
      </v-flex>
    </v-layout>
    <stacked-bar class="mt-10" :chartData="stackedBarChartData"></stacked-bar>
    <v-chart
      class="chart mt-10"
      :option="pieChartAllTripExpensesOptions"
      autoresize
    />
  </v-container>
</template>

<script>
import StackedBar from './Charts/StackedBar.vue'
import { defineComponent } from 'vue'
import VChart, { THEME_KEY } from 'vue-echarts'

export default defineComponent({
  props: ['trip', 'tripDays', 'dayDivider', 'allAdditionalCosts'],
  provide: {
    [THEME_KEY]: 'light',
  },
  components: { StackedBar, VChart },
  data() {
    return {
      today: new Date().toISOString().substr(0, 10),
    }
  },
  computed: {
    tripAccommodationCostsSum: function () {
      const sum = this.trip.accommodationCostsSum || 0
      return this.$options.filters.itsPrice(sum)
    },
    tripPetrolCostsSum: function () {
      const sum = this.trip.petrolCostsSum || 0
      return this.$options.filters.itsPrice(sum)
    },
    tripAdditionalCostsSum: function () {
      const sum = this.trip.additionalCostsSum || 0
      return this.$options.filters.itsPrice(sum)
    },
    tripTotalCosts: function () {
      const sum =
        Number(this.tripAccommodationCostsSum) +
        Number(this.tripPetrolCostsSum) +
        Number(this.tripAdditionalCostsSum)
      return sum.toFixed(2)
    },
    tripPerDayCost: function () {
      return this.dayDivider !== 0
        ? Math.round(this.tripTotalCosts / this.dayDivider)
        : 0
    },
    stackedBarChartData() {
      const daysSubtitles = []
      const daysAccomodationTotalCosts = []
      const daysPetrolTotalCosts = []
      const daysAdditionalTotalCosts = []
      this.tripDays.forEach((element) => {
        if (!this.$moment(element.date).isAfter(this.today)) {
          daysSubtitles.push(element.date)
          daysAccomodationTotalCosts.push(
            this.$options.filters.itsRoundedPrice(element.accommodationCostsSum)
          )
          daysPetrolTotalCosts.push(
            this.$options.filters.itsRoundedPrice(element.petrolCostsSum)
          )
          daysAdditionalTotalCosts.push(
            this.$options.filters.itsRoundedPrice(element.additionalCostsSum)
          )
        }
      })

      return {
        title: {
          text: this.$t('charts.expenses_day_by_day'),
          left: 'center',
        },
        xAxis: {
          data: daysSubtitles,
        },
        yAxis: {},
        tooltip: {
          trigger: 'item',
          formatter: '<b>{c} ' + this.trip.tripCurrency + ' -- {a}</b><br/>{b}',
        },
        series: [
          {
            name: this.$t('accommodation_costs'),
            data: daysAccomodationTotalCosts,
            type: 'bar',
            stack: 'x',
          },
          {
            name: this.$t('petrol_costs'),
            data: daysPetrolTotalCosts,
            type: 'bar',
            stack: 'x',
          },
          {
            name: this.$t('additional_costs'),
            data: daysAdditionalTotalCosts,
            type: 'bar',
            stack: 'x',
          },
        ],
      }
    },
    pieChartAllTripExpensesOptions: function () {
      const chartData = [
        {
          value: this.tripAccommodationCostsSum,
          name: this.$t('accommodation_costs'),
        },
        { value: this.tripPetrolCostsSum, name: this.$t('petrol_costs') },
        ...this.allAdditionalCosts,
      ]

      return {
        legend: {
          orient: 'vertical',
          left: 'left',
          top: 'center',
          data: this.mergedCategories,
        },
        title: {
          text: this.$t('charts.percentage_share_of_expenses'),
          left: 'center',
        },
        tooltip: {
          trigger: 'item',
          formatter: '<b>{c} ' + this.trip.tripCurrency + '</b> {d}%',
        },
        series: [
          {
            type: 'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
              show: false,
              position: 'center',
            },
            labelLine: {
              show: false,
            },
            emphasis: {
              label: {
                show: true,
                fontSize: '25',
                fontWeight: 'bold',
              },
            },
            data: chartData,
          },
        ],
      }
    },
  },
})
</script>
