<template>
  <v-dialog
    v-model="dialogCosts.show"
    fullscreen
    hide-overlay
    persistent
    transition="dialog-bottom-transition"
  >
    <v-card>
      <v-toolbar dark color="primary">
        <v-btn icon dark @click.native="closeDialog()">
          <v-icon>close</v-icon>
        </v-btn>
        <v-toolbar-title>{{ dialogCosts.date }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-title
          >💵 {{ sumOfTheDay }} {{ trip.tripCurrency }}</v-toolbar-title
        >
      </v-toolbar>

      <h3 class="pa-4">{{ dialogCosts.title }}</h3>
      <v-divider></v-divider>
      <v-data-table
        :mobile-breakpoint="0"
        :items="dialogCostsTableData"
        class="elevation-1 costs-table"
        :headers-length="4"
        hide-default-footer
      >
        <template v-slot:header>
          <thead>
            <tr>
              <th>{{ $t('trip_costs.cost_name') }}</th>
              <th>{{ $t('trip_costs.amount') }}</th>
              <th>{{ trip.tripCurrency }}</th>
              <th class="text-center">{{ $t('action') }}</th>
            </tr>
          </thead>
        </template>

        <template v-slot:no-data>
          <p class="text-center my-3">
            {{ $t('trip_costs.no_expenses') }}
          </p>
        </template>

        <template v-slot:item="{ item, index }">
          <tr>
            <td>{{ $t(`trip_costs.${item.name}`) }}</td>
            <td>{{ item.amount }} {{ item.currency }}</td>
            <td>{{ item.convertedAmount | itsPrice }}</td>
            <td style="width: 5px" class="text-center">
              <v-icon @click="deleteCost(item)" :disabled="deleting"
                >delete</v-icon
              >
            </td>
          </tr>
        </template>

        <template v-slot:body.append>
          <tr>
            <td></td>
            <td></td>
            <td><b v-html="sumOfTheDay"></b></td>
            <td></td>
          </tr>
        </template>
      </v-data-table>

      <v-layout wrap class="grey lighten-3 px-4 pt-4">
        <v-flex xs12 mb-4>
          <h4>{{ $t('add_new_expense') }}:</h4>
        </v-flex>

        <v-flex xs12 md3>
          <v-autocomplete
            v-model="dialogCosts.name"
            :items="additionalCostNames"
            clearable
            item-value="costNameProp"
            item-text="name"
            :filter="customAutoCompleteFilter"
            outlined
            :label="$t('trip_costs.name_cost')"
          ></v-autocomplete>
        </v-flex>
        <v-spacer></v-spacer>
        <v-flex xs5 md3>
          <v-text-field
            :label="$t('trip_costs.amount')"
            v-model="costAmount"
            type="number"
            outlined
            min="0"
            step="1"
            @click="$event.target.select()"
          />
        </v-flex>
        <v-flex xs7 md3 pl-4>
          <v-select
            v-model="trip.lastCurrencyUsed"
            outlined
            :items="$supportedCurrencies"
            :item-text="`currency_name_${$i18n.locale}`"
            item-value="currency_code"
            :label="$t('currency_code')"
          />
        </v-flex>
      </v-layout>

      <v-container fluid>
        <v-layout>
          <v-flex xs12 class="text-right">
            <v-btn @click.native="closeDialog()" class="mx-2">
              {{ $t('cta.close') }}
            </v-btn>
            <v-btn
              color="primary"
              class="mr-0"
              @click="addCost(trip.tripCurrency)"
            >
              {{ $t('cta.add') }}
            </v-btn>
          </v-flex>
        </v-layout>
      </v-container>
      <v-chart
        v-if="dialogCosts.cat == 'additional'"
        class="chart"
        :option="chartOptions"
        autoresize
      />
    </v-card>
  </v-dialog>
</template>

<script>
import * as firebase from 'firebase/app'
import {
  tripCostsCollection,
  tripDaysCollection,
  tripsCollection,
} from '../plugins/fireinit'
import costsCategories from '../constants/costsCategories'
import { use } from 'echarts/core'
import { CanvasRenderer } from 'echarts/renderers'
import { PieChart } from 'echarts/charts'
import {
  TitleComponent,
  TooltipComponent,
  LegendComponent,
} from 'echarts/components'
import VChart, { THEME_KEY } from 'vue-echarts'
import { ref, defineComponent } from 'vue'

use([
  CanvasRenderer,
  PieChart,
  TitleComponent,
  TooltipComponent,
  LegendComponent,
])

export default defineComponent({
  props: ['dialogCosts', 'dialogCostsTableData', 'trip'],
  components: {
    VChart,
  },
  provide: {
    [THEME_KEY]: 'light',
  },
  created() {
    this.uId = this.$store.state.user.uid

    costsCategories.forEach((el) => {
      const item = {
        name: this.$t(`trip_costs.${el}`),
        costNameProp: el,
      }
      this.additionalCostNames.push(item)
    })
  },
  data() {
    return {
      uId: '',
      costAmount: 0,
      newCostTripCurrencyAmount: 0,
      additionalCostNames: [],
      deleting: false,
    }
  },
  computed: {
    sumOfTheDay: function () {
      let costsTotal = this.dialogCostsTableData.reduce(function (prev, cur) {
        return prev + cur.convertedAmount
      }, 0)
      return this.$options.filters.itsPrice(costsTotal)
    },
    chartOptions: function () {
      return {
        legend: {
          orient: 'vertical',
          left: 'left',
          top: 'center',
          data: this.mergedCategories,
        },
        title: {
          text: this.$t('charts.percentage_share_of_expenses'),
          left: 'center',
        },
        tooltip: {
          trigger: 'item',
          formatter: '{a} <br/>{b} : {c} ({d}%)',
        },
        series: [
          {
            name: this.dialogCosts.title,
            type: 'pie',
            radius: '50%',
            center: ['50%', '50%'],
            data: this.mergedExpenses,
          },
        ],
      }
    },
    mergedExpenses: function () {
      const merged = this.dialogCostsTableData.reduce(
        (acc, { name, convertedAmount }) => {
          return { ...acc, [name]: (acc[name] ?? 0) + convertedAmount }
        },
        {}
      )
      const arr = Object.keys(merged).map((key) => ({
        value: this.$options.filters.itsPrice(merged[key]),
        name: this.$t(`trip_costs.${key}`),
      }))
      return arr
    },
    mergedCategories: function () {
      const merged = this.dialogCostsTableData.reduce(
        (acc, { name, convertedAmount }) => {
          return { ...acc, [name]: (acc[name] ?? 0) + convertedAmount }
        },
        {}
      )
      const arr = Object.keys(merged).map((key) => ({
        name: this.$t(`trip_costs.${key}`),
      }))
      console.log(arr)
      return arr
    },
  },
  methods: {
    countNewCostInUserCurrency: function (
      costAmount,
      costCurrency,
      tripCurrency
    ) {
      let vm = this
      this.convertCurrency(
        costAmount,
        costCurrency,
        tripCurrency,
        function (err, retAmount) {
          if (err) {
            vm.$notifier.showMessage({
              content:
                err +
                '. Error "108". Could you report it to lukasz@mormol.pl? Thx a lot!',
              color: 'error',
            })
          } else {
            vm.newCostTripCurrencyAmount = retAmount * 100
            vm.saveCalculatedCost()
          }
        }
      )
    },
    convertCurrency: function (amount, fromCurrency, toCurrency, cb) {
      let vm = this
      let https = require('https')

      fromCurrency = encodeURIComponent(fromCurrency)
      toCurrency = encodeURIComponent(toCurrency)
      let query = fromCurrency + '_' + toCurrency

      const today = new Date().toISOString().substr(0, 10)
      let currencyRateDate
      this.$moment(vm.dialogCosts.date).isAfter(today)
        ? (currencyRateDate = today)
        : (currencyRateDate = vm.dialogCosts.date)
      // let url = `https://api.currconv.com/api/v7/convert?q=${query}&compact=ultra&date=${currencyRateDate}&apiKey=56b65355c1d9457e809ec58ed379d554` // klossowicz@mormol.pl

      const appId = 'b8d8115eb5af40f78a17b9fcf3126a02';
      let url = `https://openexchangerates.org/api/latest.json?app_id=${appId}&base=${fromCurrency}&symbols=${toCurrency}`;

      if (toCurrency == fromCurrency) {
        const amountToSave = Math.round(amount * 100) / 100
        cb(null, amountToSave, this)
        return
      }

      https
        .get(url, function (res) {
          let body = ''

          res.on('data', function (chunk) {
            body += chunk
          })

          res.on('end', function () {
            try {
              let jsonObj = JSON.parse(body)
              let val = jsonObj.rates[toCurrency];

              if (val) {
                let total = val * amount
                cb(null, Math.round(total * 100) / 100, this)

              }
            } catch (e) {

              console.log(e);

              vm.$notifier.showMessage({
                content:
                  'Parse error: ' +
                  e +
                  ' Error "111". Could you report it to lukasz@mormol.pl? ',
                color: 'error',
              })
              cb(e)
            }
          })
        })
        // .on('error', function (e) {
        //   vm.$notifier.showMessage({
        //     content:
        //       'Error: ' +
        //       e +
        //       ' Error "112". Could you report it to lukasz@mormol.pl?',
        //     color: 'error',
        //   })
        //   cb(e)
        // })
    },
    closeDialog() {
      this.$emit('closeDialog')
    },
    deleteCost(cost) {
      this.deleting = true
      let vm = this
      const decrement = firebase.firestore.FieldValue.increment(
        -cost.convertedAmount
      )
      const costCategory = cost.category + 'CostsSum'
      tripCostsCollection
        .doc(cost.id)
        .delete()
        .then(function () {
          tripDaysCollection
            .doc(vm.dialogCosts.dayId)
            .update({
              [costCategory]: decrement,
            })
            .then(function () {
              tripsCollection
                .doc(vm.trip.tripId)
                .update({
                  [costCategory]: decrement,
                })
                .then(function () {
                  vm.deleting = false
                })
            })
        })
        .catch(function (error) {
          vm.$notifier.showMessage({ content: error, color: 'error' })
          vm.deleting = false
        })
    },
    addCost(tripCurrency) {
      let vm = this

      if (this.dialogCosts.name.length < 3) {
        vm.$notifier.showMessage({
          content: this.$t('errors.name_of_cost'),
          color: 'error',
        })
        return false
      }

      if (this.costAmount === 0) {
        vm.$notifier.showMessage({
          content: this.$t('errors.amount_of_cost'),
          color: 'error',
        })
        return false
      }

      if (!this.trip.lastCurrencyUsed) {
        vm.$notifier.showMessage({
          content: this.$t('errors.enter_amount_currency'),
          color: 'error',
        })
        return false
      }
      this.countNewCostInUserCurrency(
        this.costAmount,
        this.trip.lastCurrencyUsed,
        tripCurrency
      )
    },
    saveCalculatedCost() {
      let vm = this
      const increment = firebase.firestore.FieldValue.increment(
        vm.newCostTripCurrencyAmount
      )
      tripCostsCollection
        .doc()
        .set({
          userId: vm.uId,
          dayId: vm.dialogCosts.dayId,
          tripId: vm.trip.tripId,
          name: vm.dialogCosts.name,
          currency: vm.trip.lastCurrencyUsed,
          category: vm.dialogCosts.cat,
          amount: vm.costAmount,
          convertedAmount: vm.newCostTripCurrencyAmount,
        })
        .then(function () {
          const costCategory = vm.dialogCosts.cat + 'CostsSum'
          tripDaysCollection
            .doc(vm.dialogCosts.dayId)
            .update({
              [costCategory]: increment,
            })
            .then(function () {
              tripsCollection
                .doc(vm.trip.tripId)
                .update({
                  [costCategory]: increment,
                  lastCurrencyUsed: vm.trip.lastCurrencyUsed,
                })
                .then(function () {
                  vm.dialogCosts.name = ''
                  vm.costAmount = 0
                })
            })
        })
    },
    customAutoCompleteFilter(item, queryText) {
      const textOne = item.name.toLowerCase()
      const textTwo = item.costNameProp.toLowerCase()
      const searchText = queryText.toLowerCase()
      return textOne.indexOf(searchText) > -1 || textTwo.indexOf(searchText) > -1
    },
  },
})
</script>

<style>
th,
td {
  text-align: left;
  padding: 0 16px !important;
}

.v-select.v-text-field--enclosed:not(.v-text-field--single-line)
  .v-select__selections {
  padding-top: 22px;
}

.chart {
  height: 100vh;
}
</style>
