<template>
  <div>
    <v-layout mb-6>
      <v-flex xs12>
        <v-list-item avatar>
          <v-list-item-avatar>
            <img :src="$store.state.user.photoURL" :alt="user.displayName" />
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title v-if="user.displayName">{{
              user.displayName
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-flex>
    </v-layout>
    <v-layout wrap class="grey lighten-3 px-4 pt-2 mb-4">
      <v-flex xs12 mb-2>
        <h3>{{ $t('user_settings.profile') }}</h3>
      </v-flex>
      <v-layout wrap>
        <v-flex xs12 md3>
          <v-text-field
            label="Instagram"
            v-model="instagramAccount"
            @change="saveProfileInstagram"
          >
            <v-icon slot="append"> mdi-instagram </v-icon>
          </v-text-field>
          <v-text-field
            label="Facebook"
            v-model="facebookAccount"
            @change="saveFacebookInstagram"
          >
            <v-icon slot="append">mdi-facebook </v-icon>
          </v-text-field>
          <v-text-field label="Blog" v-model="blogUrl" @change="saveBlogUrl">
            <v-icon slot="append"> mdi-web </v-icon>
          </v-text-field>
        </v-flex>
        <v-flex xs12 offset-md1 md5>
          <v-textarea
            label="BIO"
            v-model="travelerBio"
            @change="saveProfileBio"
          ></v-textarea>
        </v-flex>
      </v-layout>
    </v-layout>

    <v-layout wrap class="grey lighten-3 px-4 pt-2">
      <v-flex xs12 mb-2>
        <h3>{{ $t('user_settings.new_trips') }}</h3>
      </v-flex>
      <v-layout wrap>
        <v-flex xs12 md2>
          <v-select
            :items="$supportedCurrencies"
            :item-text="`currency_name_${$i18n.locale}`"
            item-value="currency_code"
            :label="$t('default_currency')"
            v-model="profileSettings.defaultCurrency"
            @change="saveProfileCurrency"
          />
        </v-flex>
        <v-flex xs12 offset-md1 md5>
          <v-select
            :items="supportedNumberOfParticipants"
            v-bind:label="
              $t('user_settings.label_default_number_of_participants')
            "
            v-model="profileSettings.defaultNumberOfParticipants"
            @change="saveDefaultNumberOfParticipants"
          />
        </v-flex>
      </v-layout>
    </v-layout>
  </div>
</template>

<script>
// Firestore
import { profileSettings, rtpSettings } from '@/plugins/fireinit'
import { profileTraveler } from '../plugins/fireinit'

export default {
  data() {
    return {
      supportedNumberOfParticipants: [],
      profileSettings: {},
      uId: null,
      profileSettingsRef: null,
      supportedNumberOfParticipantsRef: null,
      travelerProfile: {},
      profileTravelerRef: null,
      instagramAccount: '',
      travelerBio: '',
      blogUrl: '',
    }
  },
  created() {
    let vm = this

    vm.supportedNumberOfParticipantsRef = rtpSettings.doc(
      'number_of_participants'
    )
    vm.supportedNumberOfParticipantsRef.get().then(() => {
      vm.supportedNumberOfParticipantsRef.onSnapshot((doc) => {
        for (let i = 1; i <= doc.data().number; i++) {
          vm.supportedNumberOfParticipants.push(i)
        }
      })
    })

    vm.uId = this.$store.state.user.uid
    vm.profileSettingsRef = profileSettings.doc(vm.uId)
    vm.profileSettingsRef.get().then((docSnapshot) => {
      if (docSnapshot.exists) {
        vm.profileSettingsRef.onSnapshot((doc) => {
          vm.profileSettings = doc.data()
        })
      } else {
        vm.profileSettingsRef.set({
          userId: vm.uId,
        })
      }
    })

    vm.profileTravelerRef = profileTraveler.doc(vm.uId)
    vm.profileTravelerRef.get().then((docSnapshot) => {
      if (docSnapshot.exists) {
        vm.profileTravelerRef.onSnapshot((doc) => {
          vm.profileTraveler = doc.data()
          vm.instagramAccount = doc.data().instagram
          vm.travelerBio = doc.data().bio
          vm.blogUrl = doc.data().blogUrl
        })
      }
    })
  },
  computed: {
    user() {
      return this.$store.getters.activeUser
    },
  },
  methods: {
    saveProfileCurrency() {
      this.profileSettingsRef.update({
        defaultCurrency: this.profileSettings.defaultCurrency,
      })
    },
    saveDefaultNumberOfParticipants() {
      this.profileSettingsRef.update({
        defaultNumberOfParticipants:
          this.profileSettings.defaultNumberOfParticipants,
      })
    },
    saveProfileInstagram() {
      this.profileTravelerRef.set(
        {
          instagram: this.instagramAccount,
        },
        { merge: true }
      )
    },
    saveFacebookInstagram() {
      this.profileTravelerRef.set(
        {
          facebook: this.facebookAccount,
        },
        { merge: true }
      )
    },
    saveProfileBio() {
      this.profileTravelerRef.set(
        {
          bio: this.travelerBio,
        },
        { merge: true }
      )
    },
    saveBlogUrl() {
      this.profileTravelerRef.set(
        {
          blogUrl: this.blogUrl,
        },
        { merge: true }
      )
    },
  },
}
</script>

<style lang="scss"></style>
