.page-enter-active {
  transition: all .45s cubic-bezier(.55,0,.1,1);
}

.page-enter  {
  opacity: 0;
  transform: translate(10px, 0);
}

.page-leave-active {
  opacity: 0;
}

.text-transform--capitalize {
  text-transform: capitalize;
}
