<template>
  <v-app>
    <v-navigation-drawer app width="300px" dark v-model="drawer">
      <v-list class="mt-0 pt-0" dense flat>
        <v-list-item-group v-if="user">
          <v-list-item inactive class="black py-1">
            <v-list-item-avatar>
              <img :src="$store.state.user.photoURL" />
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>
                {{ user.displayName }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item :to="localePath('my-trips')">
            <v-list-item-action>
              <v-icon>mdi-playlist-edit</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ this.$t('links.expedition_management') }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item @click="$viewTravelerProfile($store.state.user.uid)">
            <v-list-item-action>
              <v-icon>list</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ this.$t('links.your_profile') }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item :to="localePath('observed-trips')">
            <v-list-item-action>
              <v-icon>mdi-eye</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ this.$t('links.observed_trips') }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-divider class="my-3" />
        </v-list-item-group>

        <v-subheader>Road-Trip-Planner.com</v-subheader>

        <v-list-item :to="localePath('index')">
          <v-list-item-action>
            <v-icon>apps</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              {{ this.$t('links.home') }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :to="localePath('features')">
          <v-list-item-action>
            <v-icon>mdi-billboard</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              {{ this.$t('links.rtp_features') }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :to="localePath('about')">
          <v-list-item-action>
            <v-icon>info</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              {{ this.$t('links.about') }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item
          :to="localePath('traveler') + '?id=Uh4NiZvRSsOuhQeu2OOVqsqh2c62'"
        >
          <v-list-item-action>
            <v-icon>batch_prediction</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              {{ this.$t('links.get_inspired') }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="my-3" />
        <v-subheader>{{ $t('links.choose_lang') }}</v-subheader>
        <v-list-item
          v-for="locale in availableLocales"
          :key="locale.code"
          :to="switchLocalePath(locale.code)"
          exact
        >
          <v-list-item-icon>
            <gb-flag
              :code="locale.code === 'en' ? 'gb' : locale.code"
              size="small"
            ></gb-flag>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>
              {{ $t('links.' + locale.name_key) }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer" />
      <v-toolbar-title class="logo" @click="$openHomePage()">
        <img src="/rtp-logo.svg" alt="Road-Trip-Planner - Logo" />
        <span v-text="appName" class="logo__name"></span>
        <small v-text="appDomain" class="logo__domain"></small>
      </v-toolbar-title>
      <v-spacer />
      <v-menu min-width="300" open-on-hover transition="slide-x-transition">
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on">
            <v-avatar v-if="user" size="36px">
              <img :src="$store.state.user.photoURL" :alt="user.displayName" />
            </v-avatar>
            <v-icon v-else medium>mdi-account-circle</v-icon>
          </v-btn>
        </template>
        <v-list class="pb-0">
          <v-list-item-group v-if="user">
            <v-list-item inactive class="pb-2">
              <v-list-item-avatar>
                <img :src="$store.state.user.photoURL" />
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>
                  {{ user.displayName }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-divider></v-divider>

            <v-list-item :to="localePath('my-trips')">
              <v-list-item-action>
                <v-icon>mdi-playlist-edit</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>
                  {{ this.$t('links.expedition_management') }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item @click="$viewTravelerProfile($store.state.user.uid)">
              <v-list-item-action>
                <v-icon>list</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>
                  {{ this.$t('links.your_profile') }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item :to="localePath('observed-trips')">
              <v-list-item-action>
                <v-icon>mdi-eye</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>
                  {{ this.$t('links.observed_trips') }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item v-if="user" :to="localePath('user-settings')">
              <v-list-item-action>
                <v-icon>settings</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>
                  {{ this.$t('links.settings') }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-divider></v-divider>

            <v-list-item
              v-if="user"
              @click.native="logout"
              :to="localePath('byebye')"
            >
              <v-list-item-icon>
                <v-icon>exit_to_app</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>
                  {{ this.$t('links.logout') }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
          <v-list-item-group v-else>
            <login-form class="py-3 px-5 align-center text-center"></login-form>
          </v-list-item-group>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-main>
      <v-container
        container--fluid
        :fill-height="determineFillHeight ? true : false"
      >
        <nuxt />
      </v-container>
    </v-main>
    <v-footer
      :fixed="fixed"
      app
      class="pa-3 text-center text-sm-left rtp-footer"
    >
      <v-container container--fluid pa-0>
        <v-layout align-center justify-space-between>
          <p class="ma-0">{{ $t('footer') }}</p>
          <div class="d-flex align-center">
            <nuxt-link :to="localePath('privacy-policy')">{{
              this.$t('links.privacy_policy')
            }}</nuxt-link>
            <div class="d-none d-md-flex ml-2 align-center">
              &bull;
              <nuxt-link class="mx-2" :to="localePath('about')">{{
                this.$t('links.about')
              }}</nuxt-link>
              <a
                class="ml-3 text-decoration-none"
                rel="nofollow"
                target="_blank"
                href="https://www.facebook.com/roadtripplanner.cost.controller"
              >
                <v-icon small color="#0062E0">facebook</v-icon>
              </a>
            </div>
          </div>
        </v-layout>
      </v-container>
    </v-footer>
    <snack-bar></snack-bar>
    <edit-text-field-dialog></edit-text-field-dialog>
  </v-app>
</template>

<script>
import SnackBar from '~/components/SnackBar'
import LoginForm from '~/components/LoginForm'
import EditTextFieldDialog from '~/components/EditTextFieldDialog'

export default {
  head() {
    return {
      htmlAttrs: {
        lang: this.$i18n.locale,
      },
    }
  },
  components: {
    SnackBar,
    EditTextFieldDialog,
    LoginForm,
  },
  data() {
    return {
      drawer: false,
      fixed: false,
      right: false,
      appName: 'Road-Trip-Planner',
      appDomain: '.com',
    }
  },
  created() {
    window.innerWidth > 1250 ? (this.drawer = true) : (this.drawer = false)
  },
  computed: {
    user() {
      return this.$store.getters.activeUser
    },
    availableLocales() {
      return this.$i18n.locales
    },
    currentRouteName() {
      return this.$route.name
    },
    determineFillHeight() {
      const routeNames = [
        'index___en',
        'index___pl',
        'byebye___en',
        'byebye___pl',
      ]
      return routeNames.includes(this.currentRouteName)
    },
  },
  methods: {
    logout() {
      this.$store.dispatch('signOut').then(() => {
        this.$notifier.showMessage({
          content: this.$t('messages.logged_out'),
          color: 'info',
        })
        this.$router.push(this.localePath('byebye'))
      })
    },
  },
}
</script>

<style lang="scss">
.container {
  padding: 6px 12px !important;
}

.pos-relative {
  position: relative;
}

.v-main {
  padding-top: 60px !important;

  @media (min-width: 960px) {
    padding-top: 68px !important;
  }
}

.trip-table-wrapper {
  border: 1px solid #e0e0e0;
}

.trip-table {
  &__index {
    width: 50px;
    text-align: right;
  }

  &__day {
    text-align: left;
    width: 150px;
    white-space: nowrap;
    line-height: 1.2;

    &-name {
      text-transform: capitalize;
      color: #7f828b;
      display: block;
    }
  }

  &__place {
    text-align: left;
  }

  &__poi {
    min-width: 150px;
  }

  &__wider-col {
    width: 300px;
  }

  &__pod {
    white-space: nowrap;
  }
}

.trip-table table {
  td {
    font-size: 11px !important;
    padding: 5px 12px !important;
    line-height: 1;
  }

  th {
    text-align: left;
    padding: 0 12px !important;
  }

  a {
    text-decoration: none;
  }
}

.v-datatable__progress th {
  position: absolute;
  left: 24px;
  right: 24px;
}

.rtp-footer {
  font-size: 9px;
  display: flex;
  align-items: center;
  box-shadow: -1px -1px 10px red;

  @media (max-width: 600px) {
    justify-content: center;
  }
}

.hover-on {
  cursor: pointer;
}

.logo {
  position: relative;
  overflow: visible !important;
  cursor: pointer;
  font-size: 1.1rem !important;

  img {
    vertical-align: middle;
    height: 24px;
    position: relative;
    top: -2px;
    margin-right: 5px;
  }

  &__name {
    font-family: 'Turret Road', cursive;
    font-weight: bold;
  }

  &__domain {
    font-family: 'Turret Road', cursive;
    font-weight: normal;
    font-size: 60%;
    position: relative;
    left: -5px;

    &:after {
      content: 'Beta';
      font-size: 9px;
      position: absolute;
      bottom: 8px;
      left: 105%;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-weight: bold;
      background: gray;
      border-radius: 5px;
      padding: 1px 5px 0;
      letter-spacing: 1px;
    }
  }
}

.motivation_quote {
  color: white;
  line-height: 1;
  text-transform: uppercase;
}

.today {
  background-color: #0095ff2e !important;
}

.v-card__text,
.v-card__title {
  word-break: normal !important;
}

.cover-bg {
  background-position: 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 1.1rem 1rem !important;
  position: relative;
  height: 100%;

  @media (min-width: 960px) {
    padding: 2.5rem !important;
  }

  > div:first-child {
    position: relative;
    z-index: 2;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 25rem;
    z-index: 1;
  }

  &:before {
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), transparent);
  }

  &:after {
    bottom: 0;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  }

  &--byebye {
    background-image: url('/images/backgrounds/byebye.jpg');
  }

  &--mallorca {
    background-image: url('/images/backgrounds/road--mallorca.jpg');
  }

  &--romania {
    background-position: 60% 50%;
    background-image: url('/images/backgrounds/road--romania.jpg');
  }
}

.fab {
  bottom: 3.2rem !important;
}

.rtp_p {
  &:first-letter {
    font-weight: bold;
  }
}

.w-100 {
  width: 100%;
}

.coolbox-opened .cover-bg > div {
  z-index: auto;
}
</style>
