<template>
  <v-layout justify-end column fill-height class="error-page">
    <h1 v-if="error.statusCode === 404">
      404. “{{ $t("errors.404") }}”
    </h1>
    <h1 v-else>
      “{{ $t("errors.404") }}”
    </h1>
    <p>
      Please try refreshing the page or start again on
      <NuxtLink to="/">home page</NuxtLink>
    </p>
  </v-layout>
</template>

<script>
  export default {
    layout: 'empty',
    props: {
      error: {
        type: Object,
        default: null
      }
    },
    head() {
      const title = this.error.statusCode === 404 ? `404. ${ this.$t("errors.404") }` : `Error. ${ this.$t("errors.404") }`;
      return { title }
    }
  }
</script>

<style scoped>

  .error-page {
    background-image: url('/images/backgrounds/404.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    height: 95vh;
    margin-left: -24px;
    margin-top: -24px;
    margin-right: -24px;
    margin-bottom: -24px;
  }

  h1 {
    font-size: 20px;
  }

  a {
    color: white;
  }

</style>
