<template>
  <div class="py-0">
    <v-row>
      <v-col>
        <v-btn small icon elevation="2" :to="localePath('/')"><v-icon small>mdi-keyboard-return</v-icon></v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="5" offset-md="1">
        <div class="mb-4 d-flex align-center">
          <h3 class="text-h6 text-md-h5">{{ $t("about.title") }}</h3>
        </div>
        <p class="rtp_p text-justify">{{ $t("about.paragraph_1") }}</p>
        <p class="rtp_p text-justify">{{ $t("about.paragraph_2") }}</p>
        <p>{{ $t("about.paragraph_3") }}</p>
        <ul class="caption text-justify">
          <li v-html="$t('about.feature_list_2')"></li>
          <li v-html="$t('about.feature_list_3')"></li>
          <li v-html="$t('about.feature_list_1')"></li>
          <li v-html="$t('about.feature_list_4')"></li>
          <li v-html="$t('about.feature_list_5')"></li>
          <li v-html="$t('about.feature_list_6')"></li>
          <li v-html="$t('about.feature_list_7')"></li>
          <li v-html="$t('about.feature_list_8')"></li>
        </ul>
        <p class="my-5 text-right">
          {{ $t("about.last_paragraph") }} <br>
          {{ $t("about.lukasz_and_mikolaj") }} <br>
          <small><a href="https://klossowicz.mormol.pl" target="_blank">klossowicz.mormol.pl</a></small>
        </p>
      </v-col>
      <v-col cols="12" md="4" offset-md="1">
        <RtpScreenshots :showSubTitle="true"/>
      </v-col>
    </v-row>
  </div>
</template>

<script>

import RtpScreenshots from "../../components/RtpScreenshots";

export default {
  components: {
    RtpScreenshots
  },
  head() {
    return {
      title: this.$t('links.about'),
    }
  }
}
</script>

<style lang="scss">

</style>
