<template>
  <v-layout class="cover-bg cover-bg--byebye">
    <v-flex>
      <h1 class="text-h4">{{ $t("links.byebye") }}</h1>
      <v-btn small :to="localePath('index')" class="primary mt-4">{{ $t('cta.back_to_start') }}</v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import LoginForm from '~/components/LoginForm'

export default {
  components: {
    LoginForm
  },
  head() {
    return {
      title: this.$t('links.byebye'),
    }
  }
}
</script>

<style lang="scss">

</style>
