<template>
  <v-layout column>
    <h1>{{ $t("data_deletion.title") }}</h1>
    <p>{{ $t("data_deletion.desc") }}</p>
    <p>
      <a href="mailto:klossowicz@mormol.pl?subject=Data deletion&body=Please delete my account : my@email.com">
        {{ $t("cta.click_here") }}</a>
    </p>
  </v-layout>
</template>

<script>
export default {
  head() {
    return {
      title: `${this.$t('data_deletion.title')}`,
    }
  },
}
</script>

