<template>
  <div>
    <v-row>
      <v-col>
        <v-btn small icon elevation="2" :to="localePath('/')"><v-icon small>mdi-keyboard-return</v-icon></v-btn>
      </v-col>
    </v-row>
    <v-container fluid>
      <v-row class="mb-4 align-center">
        <v-col md="6" class="text-center text-md-right">
          <h2 class="text-h5 text-md-h3 mb-5" v-html="$t('features.travel_cost_estimation')"></h2>
          <p class="body-1" v-html="$t('features.travel_cost_estimation_p1')"></p>
          <p class="body-1" v-html="$t('features.travel_cost_estimation_p2')"></p>
        </v-col>
        <v-col md="6">
          <v-img max-width="250"
              class="mx-auto"
              :alt="$t('features.travel_cost_estimation')"
              src="/images/features/estimation_mobile.png"></v-img>
        </v-col>
      </v-row>
      <v-row class="mb-4 py-4 flex-row-reverse align-center grey lighten-4">
        <v-col md="6" class="text-center text-md-left">
          <h2 class="text-h5 text-md-h2 mb-5" v-html="$t('features.expenses_tracking')"></h2>
          <p class="body-1" v-html="$t('features.expenses_tracking_p1')"></p>
        </v-col>
        <v-col md="6" class="d-flex justify-center">
          <v-img max-width="250"
              :alt="$t('features.expenses_tracking')"
              src="/images/features/expenses_tracking.png"></v-img>
        </v-col>
      </v-row>
      <v-row class="mb-4 py-4 align-center">
        <v-col md="6" class="text-center text-md-right">
          <h2 class="text-h5 text-md-h2 mb-5" v-html="$t('features.handle_of_currencies_exchange_rates')"></h2>
          <p class="body-1" v-html="$t('features.handle_of_currencies_exchange_rates_p1')"></p>
        </v-col>
        <v-col md="6" class="d-flex justify-center">
          <v-img max-width="250"
              :alt="$t('features.handle_of_currencies_exchange_rates')"
              src="/images/features/handle_of_popular_currencies.png"></v-img>
        </v-col>
      </v-row>
      <v-row class="mb-4 py-16 align-center grey lighten-4">
        <v-col class="text-center">
          <h2 class="text-h5 text-md-h5" v-html="$t('features.descriptions_of_other_functions_in_preparation')"></h2>
        </v-col>
      </v-row>
    </v-container>
  </div>

</template>

<script>
  export default {
    head() {
      return {
        title: this.$t('links.rtp_features'),
      }
    }
  }
</script>
