<template>
  <v-container v-if="!$store.state.user"
            text-center
            fluid
            class="cover-bg cover-bg--mallorca">
    <v-container class="pa-0">
        <h1 class="motivation_quote text-h4 text-md-h3 mb-2" v-html="$t('main_title')"></h1>
        <h2 class="motivation_quote text-subtitle-2 text-md-subtitle-1">{{ $t('main_subtitle') }}</h2>
        <v-btn class="my-7"
               depressed large
               color="white"
               :to="localePath('about')">
               {{ $t('cta.learn_more') }}</v-btn>
        <login-form class="mb-6 align-center"></login-form>
        <RtpScreenshots/>
    </v-container>
  </v-container>
  <v-container v-else
            fluid
            fill-height
            align-start
            class="cover-bg cover-bg--romania">
    <v-row class="fill-height justify-space-between">
      <v-col cols="12">
        <CurrentTrips></CurrentTrips>
        <h1 class="mb-4 motivation_quote text-h5 text-md-h4">“{{ $t('motivation_quote') }}.”️</h1>
        <v-btn large :to="localePath('plan-new')" class="primary mr-2">{{ $t('cta.step_1') }}</v-btn>
      </v-col>
      <v-col cols="12" class="align-end d-flex justify-end">
        <div class="d-flex flex-column flex-md-row mb-5 align-end align-md-center">
          <span class="ma-1">{{ $t('first_time_here') }}</span>
          <v-btn depressed large :to="localePath('about')" class="ma-1">{{ this.$t('cta.learn_more') }}</v-btn>
          <v-btn depressed large
                 :to="localePath('traveler') + '?id=Uh4NiZvRSsOuhQeu2OOVqsqh2c62'"
                 class="ma-1">
          {{ this.$t('links.get_inspired') }}</v-btn>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Logo from '../../components/Logo.vue'
import LoginForm from '../../components/LoginForm';
import CurrentTrips from "../../components/CurrentTrips";
import RtpScreenshots from "../../components/RtpScreenshots";

export default {
  components: {
    CurrentTrips,
    LoginForm,
    Logo,
    RtpScreenshots
  },
  computed: {
    user() {
      return this.$store.getters.activeUser
    }
  },
  head() {
    return {
      title: 'Start',
    }
  }
}
</script>

<style scoped lang="scss">

</style>
