<template>
  <div>
    <div class="mb-1 d-flex align-center">
      <v-btn small icon elevation="2" class="mr-3" :to="localePath('/')"><v-icon small>mdi-keyboard-return</v-icon></v-btn>
      <h3>🛣 {{ $t('links.expedition_management') }}</h3>
    </div>
    <my-trips v-if="user"></my-trips>
    <login-form v-else class='align-start'></login-form>
  </div>
</template>

<script>
import MyTrips from '~/components/MyTrips'
import LoginForm from "~/components/LoginForm";

export default {
  components: {
    MyTrips,
    LoginForm
  },
  computed: {
    user() {
      return this.$store.getters.activeUser
    }
  },
  head() {
    return {
      title: this.$t('links.my_trips'),
    }
  }
}
</script>

<style>

</style>
