<template>
  <div>
    <div class="d-flex align-center">
      <v-btn small icon elevation="2" class="mr-3" :to="localePath('/')"><v-icon small>mdi-keyboard-return</v-icon></v-btn>
      <h3>🛣 {{ $t('observed_trips.title') }}</h3>
    </div>
    <observed-trips v-if="user"></observed-trips>
    <login-form v-else class='align-start'></login-form>
  </div>
</template>

<script>
import ObservedTrips from '~/components/ObservedTrips'
import LoginForm from "../../components/LoginForm";

export default {
  components: {
    ObservedTrips,
    LoginForm
  },
  computed: {
    user() {
      return this.$store.getters.activeUser
    }
  },
  head() {
    return {
      title: this.$t('links.observed_trips'),
    }
  }
}
</script>

<style>

</style>
