<template>
  <v-layout v-if="user" column>
    <div class="d-flex align-center">
      <v-btn small icon elevation="2" class="mr-3" :to="localePath('/my-trips')"><v-icon small>mdi-keyboard-return</v-icon></v-btn>
      <h3>➕ {{ $t('plan_new.add_new_trip') }}</h3>
    </div>
    <plan-new v-if="user"></plan-new>
    <login-form v-else></login-form>
  </v-layout>
</template>

<script>

  import PlanNew from '~/components/PlanNew'
  import LoginForm from "../../components/LoginForm";

  export default {
    components: {
      LoginForm,
      PlanNew
    },
    computed: {
      user() {
        return this.$store.getters.activeUser
      }
    },
    head() {
      return {
        title: this.$t('plan_new.add_new_trip'),
      }
    }
  }
</script>
