<template>
  <v-layout column>
    <v-row>
      <v-col cols="12" class="pt-0">
        <div class="mb-1 d-flex align-center">
          <v-btn small icon elevation="2" class="mr-3" :to="localePath('/')"
            ><v-icon small>mdi-keyboard-return</v-icon></v-btn
          >
          <h3>👤 {{ profileTraveler.displayName }}</h3>
        </div>
        <v-row>
          <v-col cols="12" md="6" v-if="profileTraveler.bio">
            <v-banner
              elevation="0"
              rounded
              color="black"
              class="caption"
              dark
              >{{ profileTraveler.bio }}</v-banner
            >
          </v-col>
          <v-col
            cols="12"
            md="6"
            class="d-flex justify-space-between justify-md-start pt-0 pt-md-3"
            v-if="profileTraveler.instagram || profileTraveler.blogUrl"
          >
            <v-btn
              v-if="profileTraveler.instagram"
              outlined
              x-small
              :href="`https://instagram.com/${profileTraveler.instagram}`"
              target="_blank"
            >
              <v-icon color="black" small class="mr-2">mdi-instagram</v-icon>
              Instagram
            </v-btn>
            <v-btn
              v-if="profileTraveler.facebook"
              class="ml-3"
              outlined
              x-small
              :href="`https://faceook.com/${profileTraveler.facebook}`"
              target="_blank"
            >
              <v-icon color="black" small class="mr-2">mdi-facebook</v-icon>
              Facebook
            </v-btn>
            <v-btn
              v-if="profileTraveler.blogUrl"
              class="ml-3"
              outlined
              x-small
              :href="`https://${profileTraveler.blogUrl}`"
              target="_blank"
            >
              <v-icon color="black" small class="mr-2">mdi-web</v-icon>
              Blog
            </v-btn>
          </v-col>
        </v-row>
        <h3 class="mt-4">🛣&nbsp; {{ $t('traveler_profile.title') }}</h3>
        <v-row
          v-if="travelerTrips.length === 0 && travelerTripsLoading !== true"
        >
          <v-col> ℹ️ {{ $t('traveler_profile.no_trips') }} </v-col>
        </v-row>
        <v-progress-linear
          indeterminate
          color="blue darken-2"
          class="my-4"
          v-if="travelerTripsLoading === true"
        ></v-progress-linear>
        <v-row v-else>
          <v-col
            cols="12"
            md="6"
            v-for="(trip, index) in travelerTrips"
            :key="index"
          >
            <v-card
              class="mx-auto d-flex flex-column grey lighten-5 fill-height"
              elevation="1"
            >
              <h3>
                <v-card-title class="py-3 grey lighten-3">{{
                  trip.name
                }}</v-card-title>
              </h3>
              <v-card-text class="py-4">
                <span>{{ $t('days_on_tour') }}</span
                >: {{ trip.tripLength }} 🗓️ <br />
                <b>{{ trip.startDate }}</b> {{ $t('to') }}
                <b>{{ trip.endDate }}</b>
              </v-card-text>
              <v-card-text v-if="$moment(today).isBefore(trip.startDate)">
                <RTPCountDownTimer :startTime="trip.startDate" />
              </v-card-text>
              <v-spacer></v-spacer>
              <v-divider />
              <v-card-actions class="mt-auto">
                <v-btn small text @click="$viewTrip(trip.id)">
                  {{ $t('cta.view') }}
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-layout>
</template>

<script>
import { profileTraveler, tripsCollection } from '../../plugins/fireinit'
import RTPCountDownTimer from '../../components/RTPCountDownTimer'

export default {
  async fetch() {
    this.getTravelerData(this.$router.history.current.query.id)
  },
  head() {
    return {
      title: `${this.profileTraveler.displayName} - ${this.$t(
        'traveler_profile.title'
      )}`,
    }
  },
  components: {
    RTPCountDownTimer,
  },
  data() {
    return {
      today: new Date().toISOString().substr(0, 10),
      travelerTrips: [],
      travelerTripsLoading: true,
      profileTravelerRef: {},
      profileTraveler: {},
    }
  },
  methods: {
    getTravelerData(userId) {
      let vm = this
      tripsCollection
        .where('userId', '==', userId)
        .orderBy('endDate', 'desc')
        .onSnapshot(function (querySnapshot) {
          vm.travelerTrips = []
          querySnapshot.forEach((doc) => {
            vm.travelerTrips.push({
              id: doc.id,
              name: doc.data().name,
              tripLength: doc.data().tripLength,
              startDate: doc.data().startDate,
              endDate: doc.data().endDate,
            })
          })
          vm.travelerTripsLoading = false
        })

      vm.profileTravelerRef = profileTraveler.doc(userId)
      vm.profileTravelerRef.get().then((docSnapshot) => {
        if (docSnapshot.exists) {
          vm.profileTravelerRef.onSnapshot((doc) => {
            vm.profileTraveler = doc.data()
          })
        } else {
          console.log('Traveler not found')
        }
      })
    },
  },
  watch: {
    $route(to) {
      this.getTravelerData(to.query.id)
    },
  },
}
</script>
