<template>
  <v-layout column>
    <div class="d-block d-md-flex justify-space-between">
      <div class="mb-1 d-flex align-center">
        <v-btn
          small
          icon
          elevation="2"
          class="mr-3 mb-1"
          @click="$viewTravelerProfile(trip.userId)"
          ><v-icon small>mdi-keyboard-return</v-icon></v-btn
        >
        <h3>🗺 {{ $t('viewing_trip.title') }}</h3>
      </div>
      <RTPCountDownTimer
        v-if="$moment(today).isBefore(this.trip.startDate)"
        :startTime="this.trip.startDate"
        class="pa-2 px-4 grey lighten-1"
      />
    </div>
    <trip-title
      :trip="trip"
      :tripId="tripId"
      :tripOwner="tripOwner"
      :userId="uid"
      :allowNameChange="false"
      :showCurrency="false"
      :showFollowTripBtn="true"
    ></trip-title>

    <travel-map id="map" :passedPosition="passedPosition"></travel-map>

    <day-by-day-title />

    <v-flex xs12 class="trip-table-wrapper">
      <v-data-table
        :mobile-breakpoint="0"
        :items="tripDays"
        :loading="tripTableLoading"
        class="trip-table"
        :headers-length="10"
        footer-props.items-per-page-options="[{text: $t('trip_table.all') ,value:-1}, 16, 8]"
        footer-props.items-per-page-text="$t('trip_table.days_per_page')"
        hide-default-footer
        disable-pagination
      >
        <template v-slot:header>
          <thead>
            <tr>
              <th class="trip-table__index">{{ $t('trip_table.nr') }}</th>
              <th class="trip-table__day">{{ $t('trip_table.day') }}</th>
              <th class="trip-table__place">{{ $t('trip_table.start') }}</th>
              <th class="trip-table__place">{{ $t('trip_table.through') }}</th>
              <th class="trip-table__place">
                {{ $t('trip_table.destination') }}
              </th>
              <th class="text-right">{{ $t('trip_table.distance') }}</th>
              <th class="text-right">{{ $t('trip_table.travel_time') }}</th>
              <th>{{ $t('trip_table.main_attraction') }}</th>
              <th>{{ $t('trip_table.route') }}</th>
              <th>{{ $t('trip_table.daily_notes') }}</th>
            </tr>
          </thead>
        </template>

        <template v-slot:item="{ item, index }">
          <tr :class="{ today: item.date === today }">
            <td class="trip-table__index">{{ item.index }}</td>
            <td class="trip-table__day">
              {{ item.date }}
              <small class="trip-table__day-name">{{
                item.date | moment('dddd')
              }}</small>
            </td>
            <td class="trip-table__place">
              <div v-if="item.dayStart">{{ item.dayStart }}</div>
              <div v-else>…</div>
            </td>
            <td class="trip-table__destination">
              <div v-if="item.dayVia">{{ item.dayVia }}</div>
              <div v-else>…</div>
            </td>
            <td class="trip-table__destination">
              <div v-if="item.dayDestination">{{ item.dayDestination }}</div>
              <div v-else>…</div>
            </td>
            <td class="text-right">
              <span
                v-if="item.dayRouteDistance !== 0"
                v-html="item.dayRouteDistance"
              ></span>
            </td>
            <td class="text-right">
              <route-duration
                v-if="item.dayRouteDurationInSeconds"
                :dayDurationInSeconds="item.dayRouteDurationInSeconds"
              ></route-duration>
            </td>
            <td>
              <div
                :class="
                  item.dayPOI && item.dayPOI.length > $textLengthThreshold
                    ? 'trip-table__wider-col'
                    : ''
                "
                v-if="item.dayPOI"
              >
                {{ item.dayPOI }}
              </div>
              <div v-else>…</div>
            </td>
            <td>
              <routes-menu v-bind:day="item"></routes-menu>
            </td>
            <td>
              <div
                :class="
                  item.dayNotes && item.dayNotes.length > $textLengthThreshold
                    ? 'trip-table__wider-col'
                    : ''
                "
                v-if="item.dayNotes"
              >
                {{ item.dayNotes }}
              </div>
              <div v-else>…</div>
            </td>
          </tr>
        </template>

        <template v-slot:loading>
          <p class="text-center my-3">
            {{ $t('trip_table.loading_message') }}
          </p>
        </template>

        <template v-slot:body.append>
          <tr>
            <td colspan="5" />
            <td class="text-right">
              <span v-if="trip.tripDistance > 0"
                ><b>{{ trip.tripDistance }}</b
                ><br />km</span
              >
            </td>
            <td class="text-right">
              <b>{{ $durationInHoursAndMinutes(trip.tripDrivingTime) }}</b>
            </td>
            <td colspan="3"></td>
          </tr>
        </template>
      </v-data-table>
    </v-flex>

    <travel-cards
      :active.sync="bottomNav"
      id="travel-cards"
      :tripDays="tripDays"
      :tripId="tripId"
      @runGallery="openCoolBox"
      :coolBoxItems="coolBoxItems"
    ></travel-cards>

    <div class="pb-10">
      <h3 class="mb-5">🌎 {{ $t('viewing_trip.social_sharing_title') }}</h3>
      <facebook :url="url" scale="3"></facebook>
      <twitter :url="url" :title="this.trip.name" scale="3"></twitter>
      <telegram :url="url" scale="3"></telegram>
      <whats-app :url="url" :title="this.trip.name" scale="3"></whats-app>
      <email :url="url" :subject="this.trip.name" scale="3"></email>
    </div>

    <v-bottom-navigation :value="true" fixed>
      <v-btn @click="$vuetify.goTo('#map', { offset: 0 })" value="map">
        <span>{{ $t('viewing_trip.the_map') }}</span>
        <v-icon>place</v-icon>
      </v-btn>

      <v-btn
        @click="$vuetify.goTo('#travel-table', { offset: 10 })"
        value="table"
      >
        <span>{{ $t('viewing_trip.day_by_day') }}</span>
        <v-icon>table_rows</v-icon>
      </v-btn>

      <v-btn
        @click="$vuetify.goTo('#travel-cards', { offset: 0 })"
        value="cards"
      >
        <span>{{ $t('viewing_trip.travel_cards') }}</span>
        <v-icon>style</v-icon>
      </v-btn>

      <v-btn v-if="coolBoxItems.length > 0" @click="openCoolBox" value="cards">
        <div class="d-lg-none">
          {{ $t('viewing_trip.gallery_mode__short') }}
        </div>
        <div class="d-none d-lg-block">
          {{ $t('viewing_trip.gallery_mode') }}
        </div>
        <v-icon>collections</v-icon>
      </v-btn>
    </v-bottom-navigation>
    <v-btn
      v-if="this.trip.userId === this.uid"
      class="fab"
      color="primary"
      elevation="5"
      fab
      right
      bottom
      fixed
      @click="$editTrip(tripId)"
    >
      <v-icon>edit</v-icon>
    </v-btn>
    <CoolLightBox
      :items="coolBoxItems"
      :index="coolBoxIndex"
      @close="coolBoxIndex = null"
      :effect="'fade'"
      :slideshowDuration="5000"
      :fullScreen="true"
      :slideshowColorBar="'#ddd333'"
      :closeOnClickOutsideMobile="true"
      :useZoomBar="true"
    >
    </CoolLightBox>
  </v-layout>
</template>

<script>
import {
  tripsCollection,
  tripDaysCollection,
  profileTraveler,
} from '../../plugins/fireinit'

import TripTitle from '../../components/TripTitle'
import RouteDuration from '../../components/RouteDuration'
import TravelMap from '../../components/TravelMap'
import TravelCards from '../../components/TravelCards'
import DayByDayTitle from '../../components/DayByDayTitle'
import RTPCountDownTimer from '../../components/RTPCountDownTimer'
import {
  Facebook,
  Twitter,
  Linkedin,
  Pinterest,
  Reddit,
  Telegram,
  WhatsApp,
  Email,
  Google,
} from 'vue-socialmedia-share'
import CoolLightBox from 'vue-cool-lightbox'
import 'vue-cool-lightbox/dist/vue-cool-lightbox.min.css'

import RoutesMenu from '../../components/TripTableMenu/RoutesMenu'

export default {
  components: {
    TravelMap,
    RouteDuration,
    RoutesMenu,
    TripTitle,
    TravelCards,
    DayByDayTitle,
    Facebook,
    Twitter,
    Pinterest,
    Telegram,
    WhatsApp,
    Email,
    CoolLightBox,
    RTPCountDownTimer,
  },
  data() {
    return {
      bottomNav: 'map',
      uid: '',
      trip: {},
      tripId: null,
      tripDays: [],
      tripTableLoading: true,
      tripPlaces: [],
      tripOwner: {},
      tripOwnerRef: {},
      passedPosition: [],
      coolBoxItems: [],
      today: new Date().toISOString().substr(0, 10),
      coolBoxIndex: null,
    }
  },
  methods: {
    passMarkers(array) {
      this.passedPosition = array
    },
    openCoolBox() {
      this.coolBoxIndex = 0
    },
  },
  created() {
    let vm = this
    this.$store.state.user
      ? (vm.uid = this.$store.state.user.uid)
      : (vm.uid = '')
    this.url = `https://road-trip-planner.com${this.$route.fullPath}`
    vm.tripId = this.$router.history.current.query.id
    tripsCollection.doc(vm.tripId).onSnapshot(function (doc) {
      vm.trip = doc.data()

      vm.tripOwnerRef = profileTraveler.doc(vm.trip.userId)
      vm.tripOwnerRef.get().then((docSnapshot) => {
        if (docSnapshot.exists) {
          vm.tripOwnerRef.onSnapshot((doc) => {
            vm.tripOwner = doc.data()
            vm.tripOwner.loaded = true
          })
        }
      })
    })

    tripDaysCollection
      .where('tripId', '==', vm.tripId)
      .orderBy('date')
      .onSnapshot(function (querySnapshot) {
        vm.tripDays = []
        vm.tripPlaces = []
        querySnapshot.forEach((doc) => {
          vm.tripDays.push({
            date: doc.data().date,
            docId: doc.id,
            dayStart: doc.data().dayStart,
            dayVia: doc.data().dayVia,
            dayDestination: doc.data().dayDestination,
            destinationPosition: doc.data().destinationPosition,
            dayPOI: doc.data().dayPOI,
            accommodationCostsSum: doc.data().accommodationCostsSum,
            petrolCostsSum: doc.data().petrolCostsSum,
            additionalCostsSum: doc.data().additionalCostsSum,
            dayRouteDurationInSeconds: doc.data().dayRouteDurationInSeconds,
            dayRouteDistance: doc.data().dayRouteDistance,
            dayNotes: doc.data().dayNotes,
            index: doc.data().index,
            bestPhotoUrl: doc.data().bestPhotoUrl,
            bestPhotoUrlThumb: doc.data().bestPhotoUrlThumb,
          })
          if (typeof doc.data().destinationPosition !== 'undefined') {
            vm.tripPlaces.push({
              location: `${doc.data().dayStart} - ${doc.data().dayDestination}`,
              destination: doc.data().dayDestination,
              position: {
                lat: doc.data().destinationPosition.lat,
                lng: doc.data().destinationPosition.lng,
              },
              notes: doc.data().dayNotes,
              date: doc.data().date,
              overviewPolyline: doc.data().overviewPolyline,
              bestPhotoUrlThumb: doc.data().bestPhotoUrlThumb,
            })
          }

          if (typeof doc.data().bestPhotoUrlThumb !== 'undefined') {
            vm.coolBoxItems.push({
              src: doc.data().bestPhotoUrl,
              thumb: doc.data().bestPhotoUrlThumb,
              title: `${doc.data().date} - ${vm.$t('trip_table.day')}: ${
                doc.data().index
              }`,
              description: `${doc.data().dayStart} - ${
                doc.data().dayDestination
              }`,
            })
          }
        })
        vm.tripTableLoading = false
        vm.passMarkers(
          vm.tripPlaces.filter(
            (v, i, a) =>
              a.findIndex((t) => t.destination === v.destination) === i
          )
        ) // filtering (no duplicated markers)
      })
  },
  head() {
    return {
      title: `${this.truncatedTitle} - ${this.$t('viewing_trip.title')}`,
    }
  },
  computed: {
    truncatedTitle: function () {
      return this.$options.filters.truncate(this.trip.name, 40)
    },
  },
}
</script>
