<template>
  <v-layout v-if="user" column>
    <my-trip-edit v-if="user"></my-trip-edit>
  </v-layout>
</template>

<script>

  import MyTripEdit from '~/components/MyTripEdit'

  export default {
    components: {
      MyTripEdit
    },
    computed: {
      user() {
        return this.$store.getters.activeUser
      }
    },
    head() {
      return {
        title: `${this.$t('planning_trip.title')}`,
      }
    }
  }
</script>
