<template>
  <v-layout column>
    <div class="mb-4 d-flex align-center">
      <v-btn small icon elevation="2" class="mr-3" :to="localePath('/')"><v-icon small>mdi-keyboard-return</v-icon></v-btn>
      <h3>🛠 {{ $t('user_settings.title') }}</h3>
    </div>
    <user-settings v-if="user"></user-settings>
  </v-layout>
</template>

<script>
  import UserSettings from '~/components/UserSettings'

  export default {
    components: {
      UserSettings
    },
    computed: {
      user() {
        return this.$store.getters.activeUser
      }
    },
    head() {
      return {
        title: this.$t('links.settings'),
      }
    }
  }
</script>

<style>

</style>
